[2014-03-03 19:22] bricelam opened #2 "Background test runner"
While brainstorming, it was mentioned that we should create a background test runner. This runner would watch for file changes and continually run the tests in the background. If tests failed then you would be notified with a toast or tray notification.

[2014-03-04 00:05] glennc opened #3 "K standard goals runs unit tests"
Every project.json in the test folder is executed through the xUnit program entry point from Build.cmd, both locally and on CI server.

[2014-03-04 16:03] bricelam opened #4 "KRunner: Output results to XML file"
'nuff said.

[2014-03-12 18:03] #3 closed, assigned to nobody

[2014-03-13 20:43] troydai opened #8 "Inject IServiceProvider to test case"
Right now there is no obvious way for test class to consume a IServiceProvider instance. That breaks the scenario which a test case needs to start a self-host web service. The KRunner does have change to obtain a IServiceProvider instance, we needs a mean to inject it to the test case.

[2014-03-16 06:36] davidfowl opened #10 "Write new VS test runner"
We're getting a new project system and it would be great if there was an easy to way integrate it with the current (or a fork of the current) xunit runner.

[2014-03-18 23:47] dougbu opened #11 "Merge `CultureReplacer` and `ReplaceCulture` from WebFx into Microsoft.AspNet.Testing"
We're not using Microsoft.AspNet.Testing in WebFx yet. Part of the reason is a few gaps in that common assembly.

Should move `CultureReplacer` and its use in `ExceptionAssert` into Microsoft.AspNet.Testing. This will better-handle localization in our unit tests.

WebFx's `[ReplaceCulture]` is also a candidate for the common test assembly.   And `Microsoft.AspNet.Testing.ExceptionAssert` lacks som

[2014-03-28 01:23] pranavkm opened #13 "Figure out a way to handle application wide exceptions in cross-plat way in the xunit runner"
As part of the runner, we attempt to hook on to UnhandledException event of the current AppDomain to handle exceptions globally
https://github.com/aspnet/Testing/commit/365e1071de5c4aa9603fa30af772a56b474b8ae6#diff-619d8effcebaab8df0b93807d7ee757aR41

However AppDomain was removed from CoreCLR. I've currently ifdefed the AppDomain references to Net45 only. We'll need a better way to do this.

[2014-03-28 21:44] #11 closed, assigned to nobody

[2014-05-21 16:54] Alxandr opened #18 "XUnit.KRunner throws TypeLoadException"
I'm getting a typeload exception trying to run tests with the XUnit.KRunner (tried on the Mvc repo too just to check it wasn't my code). It can't load `XUnit.Sdk.TestFramework`.

Error-message:
![image](https://cloud.githubusercontent.com/assets/112334/3043623/716cccf4-e108-11e3-9262-177568cbd4dc.png)

Kvm list:
![image](https://cloud.githubusercontent.com/assets/112334/3043648/8d1d3a7e-e108-11e3-

[2014-05-21 21:36] #18 closed, assigned to nobody

[2014-05-21 22:15] Alxandr opened #21 "Support AppVeyor"
I'm just playing around with ASP.NET vNext to see how things work, and I uploaded a project to AppVeyor at https://ci.appveyor.com/project/Alxandr/appvisum-next. The result was almost "JustWorks(TM)", with the exception that tests aren't being reported to AppVeyor.

According to their docs, in order to run xunit-tests one should do:

[code]

However, does the KRunner support such arguments? And wh

[2014-06-09 19:42] pranavkm opened #30 "StyleCop: We need a way to ignore files that aren't built as part of the project"
We should honor "resources" \ "exclude" \ "include" etc flags in project.json and ignore files that aren't built as part of the project

[2014-06-28 11:20] uhaciogullari opened #34 "NUnit test runner for KRuntime"
Will there be a test runner for NUnit?

There is no fork of NUnit in ASP.NET repositories. How should I start if I wanted to write one myself?

[2014-07-11 18:07] rynowak opened #36 "Consider using commandlineutils in XUnit.KRunner"
@davidfowl @bricelam

[2014-08-15 00:13] dougbu opened #38 "VS integration unable to run tests with more than one parameter"
After running Run All in the Test Explorer window, I was surprised to see 1039 Passed tests (yah!) and 319 Not Run tests (boo!).  The Not run tests consistently have more complicated parameters -- more than one parameter and (in a few cases) a parameter of an array type.  These tests can't be executed even if specifically selected.

[2014-09-12 17:45] #38 closed, assigned to nobody

[2014-10-07 18:00] anandjp opened #45 "Xunit test execution is failing on aspnetcore50 with MethodAccessException"
Xunit test execution fails on aspnetcore50 when run from VS.

[code]

[2014-10-08 03:39] vijayrkn opened #46 "Klr.exe process fails with path too long exceptions when we pass a lot of tests to -- test flag"
[code]
fails when we pass lot of tests. Need to change this to a message.

[2014-10-19 00:23] dougbu opened #47 "Visual Studio fails to run some tests"
"Run All" in the Razor repository does not execute all of the tests.  This command leaves 50 to 150 tests in the "Not Run Tests" bucket.  An "Unexpected error detected. Check the Tests Output pane for details." message displays in the VS status bar.
Not sure what distinguishes the "Not Tun" tests but hit this consistently (assuming tests show up in Text Explorer at all :frowning: ).  Repeated "Run

[2014-10-19 00:33] JamesNK opened #48 "k test freezes in certain Powershell scripts"
I am executing k test inside a complex Powershell script that is using a PS function pointer. k test freezes after running many unit tests (I suspect it might be when one fails, or it might just be a large number, I have over 1500 tests) but the place it freezes isn't always the same. I don't know if it is important but my tests use Console.WriteLine a lot.

When k test freezes I am unable to even

[2014-10-19 00:46] JamesNK opened #49 "Make it easier to run tests without changing the application base"
I am setting the env viarable K_APPBASE to execute tests in another directory. k test runs and finds the project.json in the specified directory, but the working directory of when xunit executes it is still the working directory of the script, not K_APPBASE, meaning any relative file paths to load content in tests fail.

This is a separate issue but I think the k command in general needs a way to

[2014-11-08 20:16] dougbu opened #50 "Update "Project K test runner" message"
How about "ASP.NET test runner"?

[2014-11-08 20:25] dougbu opened #51 "Provide --nologo or --quiet command-line option for xUnit.Net test runner"
Currently cannot reduce the noise from the xUnit.Net test runner.  Example output is:

[code]

Would be nice to have an option (`--nologo`) to at least remove the first three lines.  Better to have an option (`--quiet`) for output similar to that from `kpm build --quiet` e.g.

[code]

Best if the above were in multiple colours :smiling_imp:

[2014-11-27 00:01] kanchanm opened #52 "Test discovery doesn't return any tests when running on coreclr"
Repro:
1. Create a new ASP.Net 5 Console Application
2. update project.json to include xunit -

[code]
3. Add the following tests:

[code]
4. Open Test Explorer
5. Build project

Tests above show up in test explorer
6. Go to project properties and change CLR to CoreCLR-x86 instead
7. Build project again

No tests will show up in test explorer

I debugged into the VS code and it appears runtime is

[2014-12-01 06:09] dougbu opened #53 "StyleCop.KRunner project doesn't currently build"
- looks for packages in old location
- not integrated into the repo's regular build

[2014-12-17 17:42] borgdylan opened #60 "aspnet.xunit: please fix casing of System.Xml dependency"
In https://github.com/aspnet/aspnet.xunit/blob/master/src/xunit.runner.kre/project.json#L9, it should be ```System.Xml``` and not ```System.XML```. As things currently are all people on Linux/Mac cannot move from ```Xunit.KRunner``` to ```xunit.runner.kre```

[2014-12-17 18:05] #4 closed, assigned to nobody

[2014-12-17 18:06] #10 closed, assigned to nobody

[2014-12-17 18:06] #36 closed, assigned to nobody

[2014-12-17 18:08] #50 closed, assigned to nobody

[2014-12-17 18:09] #51 closed, assigned to nobody

[2014-12-17 18:12] #21 closed, assigned to nobody

[2014-12-17 18:14] #49 closed, assigned to nobody

[2014-12-17 18:14] #2 closed, assigned to nobody

[2014-12-17 18:18] #34 closed, assigned to nobody

[2015-01-06 00:12] dougbu opened #61 "`[ReplaceCulture]` uses incorrect default UI culture"
Initialization of the `ReplaceCultureAttribute.UICulture` property does not match its documentation (specifically "Defaults to en-US") or the MVC 5 code it was copied from.  The property defaults to the en-GB culture, not en-US.  This breaks compatibility with the same class in MVC 5 and may lead to inconsistent unit test results, especially as we port MVC 5 unit tests over.

Only need to change o

[2015-01-15 17:36] pkosel opened #62 "test runnner doesn't quit properly on a a mac"
If I hit ctrl+c there is a message to press ctrl+c again to terminate. But it doesn't terminate. I have to kill the process manually.

[2015-01-15 17:38] Praburaj commented on #62
This looks very similar to https://github.com/aspnet/KRuntime/issues/1017. @suhasj is there any update on this?

[2015-01-15 18:26] suhasj commented on #62
@philippkosel You have replied to the bug https://github.com/xunit/aspnet.xunit/issues/6 on the xunit repo as well. We are currently looking into this

[2015-01-21 22:55] kalluri-nb opened #64 "Unable to discover tests after upgrade to CTP 5"
The discovery of tests is never ending and after an hour or so there will be no tests discovered.

![image](https://cloud.githubusercontent.com/assets/9352992/5847020/9433d2a6-a196-11e4-8404-95270924e6e2.png)

[2015-01-23 00:59] giggio opened #65 "No xunit.runner.kre compatible with Beta2 and VS 2015 CTP 5"
On the `aspnetmaster` feed `xunit.runner.kre` does not exist. If you use the `aspnetvnext` and allow for `"xunit.runner.kre":  "1.0.0-*"` on your `package.json` as described on the wiki in this repo ([this page](https://github.com/aspnet/Testing/wiki/How-to-create-test-projects)) you will get today version `1.0.0-beta4-1041`. If you let that happen, this is what happens to Visual Studio:
![image](

[2015-01-23 02:07] bojanrajkovic commented on #65
I think you need the xUnit feed -- http://www.myget.org/F/xunit is what works for me, and the runner is `xunit.runner.aspnet`, version is `2.0.0-*`.

[2015-01-23 17:06] giggio commented on #65
@bojanrajkovic Also does not work. Tried with `2.0.0-rc1-build39` and got the exact same problem. What specific version are you using? Are you using with Beta2?

[2015-01-27 10:45] kiripk commented on #65
I have the same issue. @giggio have you found a way to solve this problem?

[2015-01-27 14:11] giggio commented on #65
Partially. I had the rc1 npkgs cached, so I uploaded them to a local nuget server. VS would not break anymore, but would not find the tests. So we gave up and are back to using the beta2 klr with beta1 packages and vs2015 ctp5, and the cached npkgs.

[2015-01-30 03:35] giggio commented on #65
Hello there, anyone looking into this issue? I can see Beta3 is almost done, I would really like to have better support for unit tests, if not possible on Beta2, maybe for Beta3 and the next VS.

[2015-01-30 03:52] davidfowl commented on #65
Yes we are. We're going to push the required beta2 packages.

[2015-01-30 11:58] giggio commented on #65
Tks, @davidfowl! It will be a lot of help!

[2015-02-03 11:23] djanosik commented on #65
Hi, is there any solution yet? I've tried to use many combinations of packages (xunit.runner.kre, xunit.runner.aspnet. xunit.krunner), but it still does not work. I can run tests in console and I can debug tests, but the intellisense is always broken.

[2015-02-06 07:43] djanosik commented on #65
Temporary workaround:

1. Comment out `xunit.runner.aspnet` dependency
2. Reload project
3. Uncomment `xunit.runner.aspnet` dependency

You will not see errors in editor and you can run tests in console.

[2015-02-06 21:22] duncanhunter commented on #65
Thanks @djanosik for the workaround.

[2015-02-19 15:16] aguacongas commented on #64
I've the same issue and in the test console I've this ouput:
------ Discover test started ------
An exception occurred while test discoverer 'KUnitTestDiscoverer' was loading tests. Exception: No connection could be made because the target machine actively refused it 127.0.0.1:16935
========== Discover test finished: 0 found (0:00:20.6218274) ==========

[2015-02-19 17:14] rynowak commented on #64
Can you please try setting the environment variable `VS_UTE_Diagnostics = 1` and see if that adds any more info to the 'test' output window?

@vijayrkn @mayurid @BillHiebert have you seen this issue before?

[2015-02-20 08:53] aguacongas commented on #64
@rynowak I got the same output after setting this env var

[2015-02-21 15:17] uhaciogullari commented on #34
Any progress on this? Do we have to ditch NUnit for vNext?

[2015-02-25 20:17] giggio commented on #65
I will close this issue as we are in Beta3 now, even though now xunit.runner.kre does not even exist anymore on Nuget: https://www.nuget.org/packages/xunit.runner.kre
The xunit runner that comes directly from the xunit mainteiner works on the command line but does not work well with Visual Studio, it actually crashes if you try to open the test explorer window. But at least it works.
This wiki pag

[2015-02-25 20:17] #65 closed

[2015-03-02 11:56] juzzbott commented on #60
So, what is the solution to get this working??

[2015-03-04 04:14] ajuckel commented on #60
FWIW, I was getting:

    System.InvalidOperationException: Failed to resolve the following dependencies for target framework 'Asp.Net,Version=v5.0':
       framework/System.XML

And editing ~/.k/packages/xunit.runner.utility/2.0.0-rc3-build2880/xunit.runner.utility.nuspec to replace
[code]
with
[code]
(changing System.XML to System.Xml) fixed it for me.  This is on a case-insensitive HFS+ macosx

[2015-03-04 04:41] juzzbott commented on #60
@ajuckel This fix worked for me also on Linux Mint 17. Thanks very much :)

I suppose that nuspec file could be updated in the source so that when new versions are provided, this change wont be required anymore.

[2015-03-04 07:46] bgeihsgt commented on #60
FYI, I've submitted a pull request to xunit to fix this for good.

https://github.com/xunit/xunit/pull/336

[2015-03-05 10:36] Yantrio commented on #60
Looks like that PR has been merged :) thanks @bgeihsgt

[2015-03-05 10:37] #60 closed

[2015-03-05 11:09] davidfowl opened #72 "Rename Microsoft.AspNet.Logging.Testing to Microsoft.Framework.Logging.Testing"
I'm not sure why we called this AspNet in the first place.

/cc @muratg @glennc

[2015-03-06 16:57] BrennanConroy commented on #72
I think it was because Microsoft.AspNet.Testing is the main part and Logging is an extension of the Testing repo, hence Microsoft.AspNet.Testing.Logging.

[2015-03-06 18:39] muratg commented on #72
Looks like this was done. Thanks!

[2015-03-06 18:39] #72 closed

[2015-03-13 15:51] Praburaj opened #75 "Tests with Conditional fact or theory does not seem to be detected by latest xunit runner"
I see tests in some repos not getting detected when then have conditional theory or conditionalfact attributes. See `MusicStore` or `WebListener` repos building on CI.

[2015-03-13 15:52] Praburaj commented on #75
@victorhurdugaci @bricelam @NTaylorMullen Currently a lot of tests are not getting executed on CI. We should get this fixed sooner.

[2015-03-13 16:12] dougbu commented on #75
@Praburaj if you use the `dougbu/attempt.testhost.fixes` branch in your aspnet/Testing repo and `build install` there, do the conditional tests start working correctly?  I was looking at a slightly different issue but may have accidentally solved this one.

[2015-03-13 16:22] Praburaj commented on #75
@dougbu Let me check.

[2015-03-13 17:18] troydai commented on #8
Not needed.

[2015-03-13 17:18] #8 closed

[2015-03-13 17:30] Praburaj commented on #75
@dougbu that seems to fix the issue.

[2015-03-13 17:35] Praburaj commented on #75
@dougbu could you merge the changes?

[2015-03-13 18:08] NTaylorMullen commented on #75
Awesome, @dougbu should treat this as a build fix and get it in as soon as you can.

[2015-03-13 18:14] dougbu commented on #75
fixed in commit d479387; forgot to update the commit description

[2015-03-13 18:14] #75 closed

[2015-03-16 18:00] Praburaj opened #77 "Add package description for packages"
[code]

[2015-03-19 00:16] plioi commented on #34
@bricelam I'm late to the party, but I've made a .NET testing framework similar to NUnit and xUnit, and the need to take out AppDomains leaves me a little confused. Without them, how is isolation achieved?  How is affecting assembly loading achieved (like setting ApplicationBase on an AppDomain)?  Many thanks for any insight you can give.

[2015-03-19 02:33] bricelam commented on #34
@plioi the idea is that the user (or VS) invokes a command that starts a process in the context of the user's project but calling into your testing framework's entry point. App base for the process is their project, dnx resolves assemblies using their project's dependencies/references. When testing is finished, the process ends providing isolation.

[2015-03-19 02:35] plioi commented on #34
@bricelam Ah, thanks a million!

[2015-03-19 02:40] davidfowl opened #78 "Remove the ApplicationHost dependency"
The test host just needs some helper code to parse the project file, and execute a Program.Main entry point.

[2015-03-20 22:22] HaoK opened #79 "Shared VerifyFrameworkServicesTest helper"
So I think we can now have a shared test method which validates AddXyz setups ApplicationServices properly now that we can do this in a standard way for all of the AddFramework() methods...

cc @davidfowl @divega Thoughts?

[code]

[2015-03-21 05:20] davidfowl opened #80 "Test discovery takes long in the MVC solution"
This might be a VS issue but we need to investigate why it takes this long.

[2015-03-21 05:30] davidfowl opened #81 "Add service for getting the source location of a symbol (type and method)"
This is so that test runners can show the source location integration in visual studio

[2015-03-21 05:31] davidfowl opened #82 "Improve diagnostics for the test runner"
Today it's a black box and it requires attaching a debugging to see any sort of diagnostic information when things go wrong.

[2015-03-21 06:19] davidfowl opened #83 "Flow errors back to VS"

[2015-03-21 06:26] rynowak commented on #80
I did some messing around tonite, what I found was that you've got build errors the experience is really degraded compared to when you don't.

It also seems to be a threshold of about 3k tests where the text window in VS starts using a DB instead of in-memory. Razor has about 1.7k tests and is really snappy for discovery ( < 10 sec). MVC has around 3.5k is feels very slow by comparison if it makes

[2015-03-21 06:34] vijayrkn commented on #83
Right now the runner only provides messages of type
Discovery : TestDiscovery.TestFound & TestDiscovery.Response
Execution: TestExecution.TestStarted, TestExecution.TestResult and TestExecution.Response

Runner needs to provide VS with Error messages ( if any) so that VS can display the error messages.

[2015-03-21 23:35] rynowak commented on #83
Yep, for this item we need to updated TestHost to send back a `Message` message type.
- Start using this to actually log information in TestHost
- Implement an ILoggerFactory and provide it to the test runner so that it can log meanful information as well.

[2015-03-30 15:20] davidfowl opened #86 "Improve Symbol Resolution in TestHost"
Found this being used in roslyn http://www.nuget.org/packages/Microsoft.DiaSymReader/1.0.4-rc2

/cc @rynowak

[2015-03-30 16:41] rynowak commented on #86
Will take a look. Looks like it's just the COM definitions for https://msdn.microsoft.com/en-us/library/ms233503(v=vs.110).aspx

[2015-04-02 04:56] davidfowl opened #88 "Tried to run all tests in Hosting and it hung"
[code]

/cc @rynowak @vijayrkn

[2015-04-02 18:15] vijayrkn commented on #46
With the new VS behavior for RunAll , we will be always passing the individual test names to the TestHost. This fails when there are a large number of tests.

[2015-04-02 18:25] davidfowl commented on #46
We should fix this.

[2015-04-02 18:54] vijayrkn commented on #88
This is because VS was doing an indefinite wait. In this case, Test Host is not providing any response. This is fixed in the latest build. VS will wait for 90 seconds max, if we don't get a response, VS will timeout. We need to introduce an 'alive' message on TestHost to indicate TestHost is active.  Also when TestHost fails, VS does not get an ack, Now VS checked every 10 sec to see if connection

[2015-04-02 19:19] rynowak commented on #88
VS waiting with a timeout solves one issue but not the root cause :laughing:

[2015-04-05 16:23] davidfowl opened #90 "Rename Microsoft.Framework.TestAdapter"
For consistency with the rest of the stack.

/cc @rynowak @bradwilson

[2015-04-06 20:16] vijayrkn opened #92 "Self terminating the TestHost when the VS process goes away."
We need to kill all DNX instances when the VS process goes away. This is how it is currently done for DTH. We need to do something similar for TestHost as well.

                // Add a watch to the host PID. If it goes away we will self terminate.
                var hostProcess = Process.GetProcessById(hostPID);
                hostProcess.EnableRaisingEvents = true;
                hostProcess

[2015-04-07 17:15] vijayrkn opened #96 "TestHost returns the same message (testresult) multiple times for some of the tests."
TestHost returns the same message multiple times for some of the tests.

Example from MVC solution:

Original Message:

[code]

[2015-04-07 22:04] rynowak commented on #96
This happens what you use `[MemberData(...)]`. It doesn't seem to cause any issues in VS from what I've seen (VS happily displays pass/fail for each case).

https://github.com/aspnet/Mvc/blob/ae4cafc002c8475d116b3c5c0be75fe9deb2cb11/test/Microsoft.AspNet.Mvc.Core.Test/ViewDataDictionaryTest.cs#L439

Is there any real impact to this that you're aware of? Please reopen if so.

[2015-04-08 17:13] vijayrkn commented on #96
Unit Test framework throws an exception when we try to add the same message (testresult) multiple times.

framework.RecordResult(testResult);
results in error message - "The specified test case was not found in the current result context"

VS Test output log:
Error displaying test result: ViewDataDictionaryTest.Eval_EvaluatesExpressions. The specified test case was not found in the current result

[2015-04-13 06:59] davidfowl commented on #13
@ellismg @jkotas ?

[2015-04-13 07:01] davidfowl commented on #13
@pranavkm File this on the corefx/coreclr repository. This seems like something that could come back.

[2015-04-13 07:24] #13 closed

[2015-04-13 23:14] rynowak commented on #81
684fdf91ec5b7322021f48aeb46ee9909aa45664

[2015-04-13 23:14] #81 closed

[2015-04-13 23:14] rynowak commented on #83
f360d9265c7ca00e21d31bde7d72d853f9dfa7c4

[2015-04-13 23:14] #83 closed

[2015-04-14 04:46] davidfowl commented on #92
Lets do this in beta5

[2015-04-14 08:13] davidfowl commented on #80
Did we work around this? Do we need to do a proper fix for beta5?

[2015-04-14 17:42] rynowak commented on #80
No idea what takes so long here. I'll check this out using the diag tool I wrote.

[2015-04-15 09:38] FabGeek commented on #47
Dougbu,
I know its a old post, but for others benefit we had the same issue for some tests. Closing Visual Studio and re-opening it followed with rebuild and re-running all tests resolved the issue.

[2015-04-15 23:26] rynowak commented on #80
@davidfowl had a chance to do some profiling with discovery on functional tests. xunit is only like 1% of the time, the rest is roslyn. Do we have a good way to profile with a DTH running that the test runner can link up with?

[2015-04-16 04:27] davidfowl commented on #80
Strange, it should already be compiled. Let's look at it tomorrow.

[2015-04-16 18:16] rynowak commented on #80
This is me running TestHost at the commandline using my UI that I built. Need to know what to do to set up a DTH to handle the compilation.

[2015-04-24 21:01] troydai opened #103 "Fix tests for Testing repo on travis"

[2015-04-24 21:47] troydai opened #104 "Fix TestHost on OS other than Windows"
And then re-enable the TestHostTest on Linux and Mac

[2015-04-24 22:56] troydai opened #105 "Test Microsoft.Framework.TestHost.TestHostTest.ListTest failed on AppVeyor because it fails to initalize DIA DataSource"
The test expects 8 lines of output, but it returns 9 when is run on _AppVeyor_. The extra line indicate it fails to initialize the DIA DataSource.

[code]

[2015-04-24 22:56] troydai commented on #105
@rynowak I need some context of this COM component.

[2015-04-24 23:36] rynowak commented on #105
We expect using DIA to fail on systems without VS installed/debugger SDK installed. Tests should exclude log messages from verification.

[2015-04-25 04:46] troydai commented on #105
e5238d81b8868698430efd37e357f4c68fa83333

[2015-04-25 04:46] #105 closed

[2015-04-25 04:47] troydai commented on #103
e5238d81b8868698430efd37e357f4c68fa83333

[2015-04-25 04:47] #103 closed

[2015-04-29 13:25] brentschmaltz commented on #96
I think this should be fixed.
1. It confuses users as it is unexpected and they won't know if they made an error.
2. The Output window is cleared out and displays a line starting with: "Error displaying ..."

[2015-04-29 19:17] cherrydev opened #106 "AppDomain isolation support for dnx451 CLR in xunit"
It seems desirable that support for isolated AppDomains be available when running on a platform that supports it.  Currently xunit's aspnet execution environment uses a single code path for both aspnetcore50 and dnx451 that excludes AppDomain isolation.
I've discussed the issue with @bradwilson [on the xunit project](https://github.com/xunit/aspnet.xunit/issues/26) and isn't convinced of the idea

[2015-04-29 23:05] matthewDDennis opened #108 "XUnit in VS 2015 RC is not discovering tests."
Had to add a NuGet source of myget.org/xunit to get the dependencies for xunit.runner.aspnet.
However the tests decorated with [Fact] are not being discovered.

[2015-04-30 00:39] vijayrkn commented on #108
@matthewDDennis
Can you confirm what version of xunit.runner.aspnet was restored to the project?
You can add this to your NuGet source:  https://www.myget.org/F/aspnetrelease/ and use this version of xunit aspnet runner and it should work:  2.0.0-aspnet-beta4-10266

[2015-04-30 00:40] davidfowl commented on #108
/cc @bradwilson

[2015-04-30 01:28] matthewDDennis commented on #108
That is the version I attempted to include, but it has a dependency on "xunit.abstractions": "2.0.0-rc3-*" which isn't in that repository.

[2015-04-30 02:16] vijayrkn commented on #108
For VS 2015 RC, you should be using the beta4 version of the runner (2.0.0-aspnet-beta4-10266) because the TestHost that gets restored needs to be compatible with the runtime version.

[2015-04-30 06:51] bradwilson commented on #108
This will not be officially supported until we ship xUnit 2.1 Beta 2.

If you want to use CI builds in the interim, you're welcome to use our MyGet feed: https://www.myget.org/F/xunit/

Be aware that the runner package has been renamed to `xunit.runner.dnx`.

[2015-04-30 06:52] bradwilson commented on #108
This is not supported. Please don't ever tell anybody to use your hacked up runners.

[2015-04-30 15:18] matthewDDennis commented on #108
@bradwilson Thanks!! That did the trick.
I did the following, and after fixing a bad test, success:
[code]

[2015-04-30 22:51] vijayrkn opened #109 "Hang inside of Assembly.Load when running all tests in Mvc"
Repro:
Runall Tests in Mvc sometimes hangs.

Possible deadlock issue.

Stack:
[code]

[2015-04-30 22:56] vijayrkn opened #110 "When we cancel from the Test Explorer all the processes are not terminated"
On cancel, all the processes created by VS should be properly terminated.

[2015-04-30 23:09] vijayrkn commented on #80
The biggest blocking issue is VS Unit test does not call the Test Adapter in Parallel, So, we cant run the discovery from VS in parallel. We need to follow up with the Unit test team to get this fixed on their end.
[code]

[2015-04-30 23:46] vijayrkn commented on #96
We can repro this with the current csproj and official non aspnet xunit integration

Error message:
Catastrophic failure: System.Runtime.InteropServices.COMException : The specified test case was not found in the current result context.

[2015-04-30 23:50] vijayrkn commented on #96
![image](https://cloud.githubusercontent.com/assets/3981619/7424657/e8bc54e6-ef58-11e4-8b08-bce095ad284f.png)

Notice VS successfully records 2 testresults for this.

[2015-05-03 18:33] yashveersingh83 opened #111 "Vs 2015 RC DNX.exe has stopped working"
Hi ,
I installed  vs 2015 rc and i am getting the error when I launch vs 2015 .
Please tell me how to fixt it. I have windows 7 sp1 .

[2015-05-03 18:34] davidfowl commented on #111
Why is this filed on the Testing repository. Please file it on aspnet/Home

[2015-05-03 18:34] #111 closed

[2015-05-04 07:16] cuiliang opened #112 "System.NullReferenceException when run dnx . test"
Version: xunit.runner.aspnet(2.0.0-aspnet-beta5-10345)

tests can be executed in VS2015RC successfully,
but when run in cmd, it displays:

System.NullReferenceException: 未将对象引用设置到对象的实例。
   在 Xunit.Runner.AspNet.Program.Main(String[] args)
--- 引发异常的上一位置中堆栈跟踪的末尾 ---
   在 System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   在 Microsoft.Framework.Runtime.Common.EntryPointExecutor.Execute(

[2015-05-04 07:35] cuiliang opened #113 "Not show userMessage when Assert Failed"
When the follwing code failed,
Assert.True(fistCharOfZeng.Equals("CZ") || fistCharOfZeng.Equals("ZC"), "some text：" + fistCharOfZeng);

Visual studio 2015RC shows:

![image](https://cloud.githubusercontent.com/assets/1972649/7450075/30eacfc8-f273-11e4-80ac-79a2b6bea4f4.png)

[2015-05-04 07:49] cuiliang commented on #113
Sorry, I made a mistake, there is another line failed.

[2015-05-04 07:49] #113 closed

[2015-05-05 15:29] shederman commented on #88
Any news on this, driving me scatty. No matter what I do I cannot get any tests in the Test Explorer for my project. Tried restarting, killing various processes. Nada. And there seems to be nothing in the way of logging I can find that's useful.

[2015-05-06 23:08] muratg opened #114 "Pkg rename: Microsoft.Framework.TestHost.Client -> Microsoft.Framework.TestHost.Client.Sources"

[2015-05-07 17:11] troydai commented on #114
Fixed in 649356fec189c815360050ca65016df22c8e8a84

[2015-05-07 17:11] #114 closed

[2015-05-08 14:44] matthewDDennis commented on #88
I have a similar issue and reported it to https://github.com/xunit/dnx.xunit/issues/29.
Text from my last comment with a repo to demo the issue

I've extracted a minimal project from my code to demo the issue.
 It can be found at https://github.com/matthewDDennis/TestRunnerBugSample.
- you can run tests from a class successfully in VS
- if you attempt to run all test in VS it hangs
- all test run

[2015-05-12 16:51] Bartmax commented on #112
You need the latest bits for beta5

https://github.com/xunit/dnx.xunit/issues/28

[2015-06-01 21:36] scottengle opened #116 "System.InvalidOperationException: Object reference not set to an instance of an object."
I am getting the following error message when building my test project:

[code]

I'm running DNX 1.0.0-beta6-11941. Here are the contents of my test project.json. When I don't include the TestHost and ApplicationHost dependencies, I can't connect to the TestHost:

[code]

The contents of my test file:

[code]

[2015-06-03 21:08] rynowak opened #117 "TestHost doesn't pass through --port argument, resulting in crash"
Originally reported at https://github.com/aspnet/Hosting/issues/287#issuecomment-108083550

The issue is that TestHost uses ApplicationHost to bootstrap xunit. This causes the ApplicationHost initialization code to run again, but since ApplicationHost has already processed the `--port` argument it's already configured the DTH compiler. When run again without the `--port` argument, the `IRuntimeOpt

[2015-06-12 20:41] vijayrkn commented on #109
Ran into this issue again while trying to run all the mvc tests

Callstack:
Not Flagged		10484	14	Worker Thread	<No Name>	Microsoft.Framework.Runtime.Compilation.DesignTime.dll!Microsoft.Framework.Runtime.DesignTimeHostProjectCompiler.CompileProject	Normal
 	 	 	 	 	 	mscorlib.dll!System.Threading.Monitor.Wait(object obj, int millisecondsTimeout, bool exitContext)
 	 	 	 	 	 	mscorlib.dll!System.T

[2015-06-12 20:44] vijayrkn commented on #109
@rynowak @davidfowl

[2015-06-12 21:29] rynowak commented on #109
I have a change out to remove the ApplicationHost dependency from TestHost - we should retry this after that goes in.

[2015-06-12 21:39] dougbu commented on #109
I may have hit the same issue. At least the Main thread has a similar callstack to the original report on my machine. (No

However it looks like multiple threads are calling `AssemblyLoaderCache.GetOrAdd()` at the same time. In my case threads #13 and #15 have the following stacks:
[code]
and
[code]

Thread #14 is actually executing the `GetOrAdd()` lambda:
[code]

[2015-06-13 00:25] rynowak commented on #109
53d6925789dc1db8ede99098687dfba4f2e8493b

[2015-06-13 00:25] #109 closed

[2015-06-13 09:09] davidfowl commented on #109
@rynowak merge to dev as well?

[2015-06-13 17:06] rynowak commented on #109
ya, was waiting on the dev builds to start passing before merging. But this is safe to merge

[2015-06-22 07:11] davidfowl commented on #90
/cc @muratg @vijayrkn

Going to start throwing out names:

Microsoft.Dnx.Testing.Abstractions?

[2015-06-22 21:14] muratg opened #125 "Rename Microsoft.Framework.TestHost to Microsoft.Dnx.TestHost"
cc: @BillHiebert @davidfowl @Eilon @victorhurdugaci

[2015-06-22 21:43] NTaylorMullen opened #126 "ReplaceCulture cannot be used to specify different cultures from the default."
Today `Culture`/`UICulture` are `CultureInfo`s and therefore cannot be specified (compile error).

[2015-06-22 23:06] pemari-msft commented on #112
Did you ever figure this out, @cuiliang ? I have the same issue but with xunit.runner.dnx 2.1.0.

[2015-06-22 23:19] dougbu commented on #126
Oops, these properties changed from the `string`s they were in MVC 5 and so on for some reason.

[2015-06-24 10:33] Alxandr commented on #112
If I'm not mistaken, this is an issue that generally happen if you have incompatible versions of `dnx` and `xunit.runner.dnx`. Either upgrade the xunit runner to a nightly, or downgrade dnx.

[2015-06-29 08:21] lukaskabrt opened #127 "DNX Core 5.0 tests are not discovered in the TestExporer"
It seems, that Test Explorer is unable to show tests if the test project doesn't use `dnx451` in the frameworks section.

If `"dnx451": {}` is removed from the `project.json`, then all tests disappear from the Test Explorer, but they are still discovered by `dnx . test` command. According to (https://github.com/xunit/dnx.xunit/issues/39#issuecomment-116365912) the issue is within plugin that bridg

[2015-07-02 21:40] muratg opened #128 "Make .sources dependency in TestHost build time"
https://github.com/aspnet/Testing/blob/dev/src/Microsoft.Framework.TestHost/project.json#L12

[2015-07-07 20:55] troydai commented on #128
Fixed in https://github.com/aspnet/Testing/commit/07d04ac3a83dae8c5a6b61843f27c20b13866084

[2015-07-07 20:55] #128 closed

[2015-07-08 20:53] danroth27 commented on #80
@vijayrkn Have you already followed up with the VS unit testing team about this? At this point this would have to be for Update1.

[2015-07-08 20:59] danroth27 commented on #127
@vijayrkn @rynowak  Can you guys take a look at this?

[2015-07-08 21:01] #117 closed

[2015-07-08 21:03] #112 closed

[2015-07-08 21:03] danroth27 commented on #110
@vijayrkn Is this a runtime issue or a VS issue?

[2015-07-08 21:04] #108 closed

[2015-07-08 21:04] vijayrkn commented on #80
We had discussed this with the Unit testing team. With their new test engine changes (taef) running the tests in parallel is not supported. Will create a tfs bug to track this.

[2015-07-08 21:06] vijayrkn commented on #110
This is a tooling issue.

[2015-07-08 21:06] Eilon commented on #104
This seems to work fine on Travis, so we think this is fixed.

[2015-07-08 21:06] #104 closed

[2015-07-08 21:09] Eilon commented on #96
This is by design. A test can have multiple results, which is the case of xUnit.net Theory tests that use MemberData.

[2015-07-08 21:09] #96 closed

[2015-07-08 21:11] Eilon commented on #88
This should be fixed from https://github.com/aspnet/Testing/issues/109.

[2015-07-08 21:11] #88 closed

[2015-07-08 21:16] Eilon commented on #86
The real problem here is supporting symbol line info for test cases that use async, iterators, or inherited tests.

We hope that using DiaSymReader or MetadataReader will solve this problem but we're not sure.

[2015-07-08 21:18] Eilon commented on #79
@HaoK any interest in building this helper? Would it still be useful?

[2015-07-08 21:19] HaoK commented on #79
Sure, I'm guessing most repos have some form of verifying this already, but could be useful to standardize

[2015-07-08 21:20] Eilon commented on #64
This is most likely fixed because we can't reproduce this anymore. We have also made improvements to the diagnostics reporting so if something does go wrong the Output Windows should have more info.

[2015-07-08 21:20] #64 closed

[2015-07-08 21:22] Eilon commented on #62
Based on the investigation by the xunit team in https://github.com/xunit/dnx.xunit/issues/6 this appears to be a bug in Mono.

[2015-07-08 21:22] #62 closed

[2015-07-08 21:24] Eilon commented on #61
Please fix the ctor in the attribute to set the right UICulture.

[2015-07-08 21:26] Eilon opened #130 "Remove KStyleCop"
It's not used anymore and not needed anymore.

[2015-07-08 21:26] Eilon commented on #53
Not needed. https://github.com/aspnet/Testing/issues/130

[2015-07-08 21:26] #53 closed

[2015-07-08 21:27] #52 closed

[2015-07-08 21:30] Eilon commented on #47
This has been fixed.

[2015-07-08 21:30] #47 closed

[2015-07-08 21:31] Eilon commented on #46
Been fixed since then.

[2015-07-08 21:31] #46 closed

[2015-07-08 21:33] Eilon commented on #45
This has since been fixed.

[2015-07-08 21:33] #45 closed

[2015-07-08 21:33] Eilon commented on #30
Not needed: https://github.com/aspnet/Testing/issues/130

[2015-07-08 21:33] #30 closed

[2015-07-08 21:34] Eilon commented on #82
This has been improved in the error reporting and diagnostics.

[2015-07-08 21:34] #82 closed

[2015-07-08 21:52] Eilon commented on #79
I put it on your plate for beta7.

[2015-07-09 05:08] danroth27 commented on #110
Tracking internally as a tooling issue

[2015-07-09 05:08] #110 closed

[2015-07-13 22:46] rynowak commented on #48
Is this still causing issues? I am unable to repro this problem on newer bits.

I even added about 100000 lines of console output to some of our tests projects and couldn't see it hang.

One thing that I notice while trying to repro this is that using the function pointer `$TestsFunction.Invoke($build)` seems to buffer the console output. Running the tests this way prints all the console output at

[2015-07-13 23:20] JamesNK commented on #48
Dunno. I haven't run json.net unit tests on DNX since then.

[2015-07-21 05:21] jderus commented on #116
Did you end up getting this resolved?

I ask because I was running into the same problem until I saw your post - which helped me fix my problem. I was missing Microsoft.Framework.ApplicationHost in the json. I think you might be missing xunit.runner.visualstudio.

Here is the dependencies section of project. json I used to get it working. First chunk might be superflous:

    "dependencies": {

[2015-07-21 15:12] scottengle commented on #116
I just ended up switching gears for a while. Now that .NET 5's rough schedule has been revealed, the company I'm working is going to go in a different direction with the application they are building.

Thanks for the feedback on this. If I end up coming back to this, I'll try this out.

[2015-07-23 23:35] Flavien opened #131 "Code coverage in Visual Studio"
Right now, code coverage doesn't display in Visual Studio 2015 with XUnit: https://github.com/xunit/dnx.xunit/issues/54#issuecomment-124129449

[2015-07-28 18:06] #90 closed

[2015-07-28 18:06] #125 closed

[2015-07-30 12:16] joycsc commented on #116
Thanks @jderus worked for me.

[2015-08-02 05:42] JamesNK opened #134 "Error discovering tests"
Error in VS2015 Output window. Using beta 6.

No tests are shown in Test Explorer window.

[code]

[2015-08-02 06:18] Eilon commented on #134
@rynowak @vijayrkn I think you two guys might know something about this?

[2015-08-02 06:42] JamesNK commented on #134
I tracked this down to a bug I added to Json.NET. The test host uses Json.NET so my bug took down the host.

So no bug in the host but I think you should add more error handling so it doesn't crash so badly and pass the error message back to VS. That will help the user a better idea of what has gone wrong.

[2015-08-02 11:20] JamesNK opened #135 "Error running tests"
I intermittently get the error below. Running tests from VS2015, beta 6.

[code]

[2015-08-02 19:33] dougbu commented on #134
@JamesNK do any released versions of Json.NET contain the bug? For example are `"Newtonsoft.Json": "6.0.6"` through `... "6.0.8"` fine while `... "7.0.1"` has this problem and `... "7.0.2" will be fine again?

[2015-08-02 20:52] JamesNK commented on #134
No, it was from wip dev changes.

[2015-08-03 15:49] rynowak commented on #134
@JamesNK - do you happen to know offhand what the callstack was that throwing?

@vijayrkn My guess is that we'll want to do something dumber to serialize error messages.

[2015-08-03 16:06] Eilon commented on #134
@rynowak we do have our super simple JavaScript serializer/deserializer... or actually I don't know if we have a serializer; we may have only put in a deserializer...

[2015-08-03 16:26] rynowak commented on #134
yeah, that would be good as well, we should remove json.net as a dependency as possible so you can use whatever version you want

[2015-08-03 16:36] Eilon commented on #134
If we want to do this I'd have to go dig up my old source codez to find the missing features.

[2015-08-03 17:04] vijayrkn commented on #134
Created a bug in tooling repo (#129) to track 'removing the json.net dependency' from VS unit test adapter.

[2015-08-03 23:21] JamesNK commented on #134
That's all the error message says. You should include more to VS when an error is thrown.

[2015-08-03 23:26] JamesNK commented on #134
You already can. The test tools were using my dev version which had a bug which is why I got that error.

[2015-08-05 16:05] rynowak opened #136 "Add support for Traits"
We need a mechanism to pass through the data for xUnit's Traits and similar types of data from the test framework.

[2015-08-05 16:06] rynowak commented on #136
https://github.com/xunit/xunit/issues/487#issuecomment-127652743

[2015-08-06 19:32] rynowak opened #137 "Add an environment variable to trace more information to VS output window"
After discussion with @BillHiebert we want to go a similar route to how VS handles tracing from DTH.

We should add an environment variable that enables tracing in TestHost. VS should also be aware of this environment variable, and when it's set, pass the output of TestHost through to the Test output window via `IFrameworkHandle`.

[2015-08-06 19:32] rynowak commented on #137
/cc @vijayrkn

[2015-08-10 18:31] bradwilson opened #138 "ISourceInformationProvider doesn't work for async methods"
It appears that, when given async methods, ISourceInformationProvider does not return source information.

This is our usage: https://github.com/xunit/dnx.xunit/blob/master/src/xunit.runner.dnx/DesignTime/SourceInformationProvider.cs

Related issue: https://github.com/xunit/xunit/issues/530

[2015-08-10 18:34] bradwilson commented on #138
It's probably worth noting that our implementation against the one built into Visual Studio needs to scout around for the state machine attribute, and ask for the `MoveNext` method instead. Should this code also be necessary for DNX's `ISourceInformationProvider`, or is that logic already built into your implementation?

https://github.com/xunit/xunit/blob/9d22ca78d33fb375d0b9002cae76462ddbc91821/

[2015-08-10 19:55] rynowak commented on #138
We'd prefer to fix the defects in our implementation rather than require workarounds. I've done some prototyping using IL metadata reader, and it might get us closer to being able to fix these issues.

@bradwilson - if we created another overload that accepted a metadata token would you be able to use that ? https://msdn.microsoft.com/en-us/library/system.reflection.memberinfo.metadatatoken(v=vs.1

[2015-08-10 21:52] bradwilson commented on #138
Well, I have a MethodInfo, so assuming that DNX allows me access to MetadataToken, it shouldn't be a problem.

[2015-08-10 23:23] bradwilson commented on #138
Nope, MetadataToken does not appear to be an option:

![metadatatoken](https://cloud.githubusercontent.com/assets/16944/9186635/1154526e-3f7c-11e5-9da6-599d51c16f71.png)

[2015-08-11 03:50] rynowak commented on #138
Sad panda :panda_face:

Would it be feasible in xUnit to give us the `MethodInfo`? I'm not sure the historical reason why VS did it with the class name + method name, but giving us the `MethodInfo` directly would eliminate some ambiguity.

[2015-08-11 05:29] bradwilson commented on #138
Yeah, that shouldn't be a problem. During discovery for DNX I always have the `MethodInfo` handy.

[2015-08-11 05:48] rynowak commented on #138
For now I'm adding support for async/inherited methods based on the class/method names.

We should talk about how to stage the transition of this API from names -> `MethodInfo` in a follow up. It won't be trivial to migrate our bad internal fork of xUnit. We could do something like add a `MethodInfo` overload to this API and then remove the string-based one when we're ready to kill off our fork.

[2015-08-11 05:56] rynowak commented on #138
Actually, I take that back. We'll just do the reflection lookup in our fork and the remove the string-based-api. That makes this easy.

[2015-08-11 15:52] bradwilson commented on #138
Just let me know when this makes it to `/F/aspnetvnext` (which is currently broken :disappointed:).

As for your private runner build, the change should be fairly trivial. If you look at this code:

https://github.com/xunit/dnx.xunit/blob/d2daa548ee52cddb313fff9623e6f3e9b2ac6fe9/src/xunit.runner.dnx/DesignTime/SourceInformationProvider.cs#L23-L25

The `testCase.TestMethod.Method` used here is type

[2015-08-11 16:54] rynowak commented on #138
I'm planning to let a build push to to the feed with the new functionality (but the same API), and then make the changes to the API in a separate change. A few things were red today when I came in, and we haven't had a coherence push since .

[2015-08-11 17:55] rynowak commented on #138
FYI also about https://github.com/dotnet/corefx/issues/2375#issuecomment-129711086

We may get `MetadataToken` for CoreCLR after all. Plan to go ahead with the changes to use `MethodInfo` anyway because that will be better for dealing with async. `MetadataToken` will allows us to fix the cases for overloaded methods when it's available.

[2015-08-11 19:54] rynowak commented on #80
Closing as this is tracked by VS.

[2015-08-11 19:54] #80 closed

[2015-08-12 15:14] rynowak commented on #138
This has been checked in. Still waiting for a public build to be available.

[2015-08-12 15:16] rynowak commented on #86
We ended up not needing MetadataReader to do this. All the info we need is available trivially using reflection.

[2015-08-12 15:17] rynowak commented on #86
19416813beebf9248ed49919660106e89284530f 8dd3a13e072b2b4e6a21683d597f17def02e059f

[2015-08-12 15:17] #86 closed

[2015-08-12 15:17] rynowak commented on #138
19416813beebf9248ed49919660106e89284530f 8dd3a13e072b2b4e6a21683d597f17def02e059f

[2015-08-12 17:12] rynowak commented on #138
@bradwilson - this is available now via the aspnetvnext feed. v1.0.0-beta7-11855 https://www.myget.org/gallery/aspnetvnext

[2015-08-12 17:12] #138 closed

[2015-08-12 22:48] bradwilson commented on #138
Yeah, unfortunately DNX itself is still broken, so I can't validate it until it's all been fixed.

[2015-08-14 23:46] HaoK commented on #79
Didn't get a chance to get to this for beta 7 it looks like.  Backlog might be better than beta 8 at this point I'm guessing

[2015-08-15 01:33] Eilon commented on #79
Alright with me.

[2015-08-23 09:09] JamesNK opened #142 "Testing non-DNX frameworks in project.json"
The Newtonsoft.Json.Tests project.json has multiple frameworks: net45, net40, Portable 259, dotnet.

Right now when I run tests in VS it appears that it only supports running tests for the dotnet framework. There should be the ability to run the net45 (and net40, PCL, etc) test project against the equivalent framework output from the Newtonsoft.Json project.json.

[2015-08-24 11:49] mxpv opened #143 "InvalidOperationException while discovering unit tests"
I'm getting an exception while discovering tests.

[code]

`project.json` looks as follows:

[code]

and `global.json`
[code]

Thanks.

[2015-08-25 19:09] ajaybhargavb opened #145 "Breakpoints in tests code are not hit but the ones in the source code works"
Example:
https://github.com/aspnet/Mvc/blob/dev/test/Microsoft.AspNet.Mvc.Core.Test/Routing/InnerAttributeRouteTest.cs#L1428
None of the breakpoints in the test are hit. There is a warning in the breakpoint saying "No symbols have been loaded for this document". But the breakpoints in the source code `InnerAttributeRoute` are hit.
Dnx: `1.0.0-beta8-15519 clr     x86          win`

cc' @rynowak @NT

[2015-08-25 19:20] rynowak commented on #145
When I've seen this, VS gives the "source doesn't match symbols" message. You can easily see this by putting a `System.Diagnostics.Debugger.Launch()` in the code and running it normally.

The likely cause is that somewhere in DNX we're doing something that causes it not to match. Needs more investigation to figure out the root cause.

[2015-09-01 22:38] bitcrazed opened #146 "VS 2015 TestExplorer "Unable to read data from the transport connection" when discoverinig Xunit tests"
Seeing the following when trying to view my project's tests in VS 2015 Test Explorer.

[code]

Tests execute correctly when run from command-line.

Test project is an ASP.NET 5 Beta 6 dnxcore50 library project using Xunit 2.1.0-beta4.

[2015-09-02 03:08] ShaneCourtrille opened #147 "MissingMethodException under DNX"
Hello,

I'm getting an exception when I try to build using xunit.  Posted it there but they say it's an issue with this side of the wall?

"xunit": "2.1.0-beta4-build3109",
"xunit.runner.dnx": "2.1.0-beta4-build134",

------ Discover test started ------
------ Test started: Project: WebAPI.Tests ------
Starting Microsoft.Framework.TestHost [C:\Users\sc.dnx\runtimes\dnx-clr-win-x86.1.0.0-beta6\bin\

[2015-09-02 03:29] rynowak commented on #147
`MethodMissingException` is almost always an assembly incompatibility.

Can you try specifying `Microsoft.Framework.TestHost` at version `1.0.0-beta6` in your project.json?

Something doesn't match here, and xUnit is either pulling in an older or newer version of `TestHost`.

[2015-09-02 03:52] ShaneCourtrille commented on #147
That resolved it.  I had gone too far forward at some point while trying to resolve another error.

Thanks

[2015-09-02 03:52] #147 closed

[2015-09-02 18:04] muratg opened #148 "Remove Microsoft.Dnx.Runtime dependency from TestHost"
https://github.com/aspnet/Testing/blob/dev/src/Microsoft.Dnx.TestHost/project.json#L17

I hear this is only used for parsing project.json files. TestHost should depend on Json.NET instead.

@rynowak @davidfowl

[2015-09-02 18:05] rynowak commented on #148
What you heard is super accurate.

[2015-09-03 15:06] Aequoris commented on #146
Does the project.json reference "xunit.runner.visualstudio"?
I was getting that exact same error when that dependency was referenced.

I fixed it by removing it. VS2015 doesn't need it, it works as long as you got "xunit.runner.dnx" as a dependency.

[2015-09-03 22:37] bitcrazed commented on #146
@Aequoris Thanks for the tip - yes - looks like that was the cause of the issue - many thanks for the tip!

I sincerely hope that MS invests some effort into making the Test Explorer less fragile and better able to express issues it finds when resolving tests.

[2015-09-03 22:37] #146 closed

[2015-09-04 09:40] davidfowl opened #149 "Test host can explode when dependencies change now"
[code]

This is because of my changes to the dnx. We might need to hide this from the user but I'll see if it makes sense to throw it in all cases.

[2015-09-04 09:40] davidfowl commented on #149
@vijayrkn @rynowak

[2015-09-04 15:25] rynowak commented on #149
Would you see the same thing if you ran `dnx test` at the commandline?

[2015-09-05 22:40] Daniel15 opened #150 "Test runner not working in beta7?"
Note: Not sure if this is a Visual Studio tooling issue or a xunit runner issue, so I've also reported this at the xunit repo at https://github.com/xunit/xunit/issues/583 (as the repo at https://github.com/xunit/dnx.xunit says to open issues there). Please close this if it's an issue in xunit rather than the VS tooling.

---

In Visual Studio when I do "Run all" in the Test Explorer, I get this ou

[2015-09-05 22:56] dougbu commented on #150
The latest `xunit.runner.dnx` [package](https://www.nuget.org/packages/xunit.runner.dnx/2.1.0-beta4-build134) depends on DNX `1.0.0-beta6` bits. You likely need to wait for the next xUnit Beta packages.

@bradwilson any other current options?

[2015-09-06 00:55] bradwilson commented on #150
As always, pre-release bits are available on our CI feed: https://www.myget.org/F/xunit/

For DNX 1.0 Beta 7 compatibility, reference `xunit 2.1.0-rc1-*` and `xunit.runner.dnx 2.1.0-beta5-*`.

[2015-09-06 23:18] Daniel15 commented on #150
Thanks for the reply @bradwilson  :)

[2015-09-06 23:18] #150 closed

[2015-09-07 05:35] dougbu opened #151 "Adjust to match latest xUnit behaviour"
Once I update the [aspnet/xunit](https://github.com/aspnet/xunit) and [aspnet/aspnet.xunit](https://github.com/aspnet/aspnet.xunit) forks, will need to adjust to a couple of breaking changes in this repo.

Tracking this task here because forks don't have issues of their own. Self-assigning as discussed offline. No `1.0.0-beta8` milestone available but that's where this fits.

[2015-09-07 06:35] bradwilson commented on #150
FYI, we just shipped beta 7 compatible bits to NuGet today. http://xunit.github.io/release-notes/2015-09-06.html

[2015-09-07 19:52] rynowak commented on #150
Thanks @bradwilson - I've started compiling some of this information into the readme for this repo. Let me know if you want any edits/includes to reduce the troubleshooting load on your end.

[2015-09-10 02:02] dougbu commented on #151
- aspnet/aspnet.xunit@5a12e89
- f790722

[2015-09-10 02:02] #151 closed

[2015-09-14 20:16] Eilon commented on #149
@davidfowl doesn't the user just have to run `dnu restore` (from command line or VS)? Is there a bug anywhere?

[2015-09-14 20:20] Eilon commented on #145
@davidfowl need info from you on this. Is there some source transformation that might happen for some files that could affect the debug info not matching? A missing BOM or something?

[2015-09-14 20:22] Eilon commented on #143
This appears to be a dependency issue due to a recent API rename. Please update to the latest and this should be fixed.

Some other helpful info is available here: https://github.com/aspnet/Testing/#troubleshooting

[2015-09-14 20:22] #143 closed

[2015-09-14 20:34] Eilon commented on #142
We need to figure out what is the right experience here. DNX will gladly *compile* the test project for all the specified targets, but *discovering* and *running* the non-DNX targets is another story.

[2015-09-14 20:39] Eilon commented on #137
Moved to here: https://github.com/aspnet/Tooling-Internal/issues/465

[2015-09-14 20:39] #137 closed

[2015-09-14 20:43] Eilon commented on #136
Moved to https://github.com/aspnet/Tooling/issues/182

[2015-09-14 20:43] #136 closed

[2015-09-14 20:47] Eilon commented on #134
This issue was moved to aspnet/Tooling#183

[2015-09-14 20:47] #134 closed

[2015-09-14 20:50] Eilon commented on #135
This issue was moved to aspnet/Tooling#184

[2015-09-14 20:50] #135 closed

[2015-09-14 20:50] Eilon commented on #131
This issue was moved to aspnet/Tooling#185

[2015-09-14 20:50] #131 closed

[2015-09-14 20:53] Eilon commented on #127
This issue was moved to aspnet/Tooling#186

[2015-09-14 20:53] #127 closed

[2015-09-14 20:55] Eilon commented on #116
This was most certainly a dependency issue. Updating to the latest builds should be all that's needed.

[2015-09-14 20:55] #116 closed

[2015-09-14 20:56] Eilon commented on #106
There are no plans to implement this in the DNX test host. You might be able to implement this using xUnit's existing `FactAttribute` extensibility.

[2015-09-14 20:56] #106 closed

[2015-09-14 20:57] Eilon commented on #48
We haven't seen reports of this from anyone else so far. If you see this again please re-open.

[2015-09-14 20:57] #48 closed

[2015-09-14 20:59] Eilon commented on #126
If there are properties on this attribute that are effectively unsettable then we should remove the setters (the getters are fine).

[2015-09-14 21:07] Eilon commented on #92
Need to implement in TestHost. Can try the suicide behavior by using the test UI.

VS also needs to tell TestHost which process to watch, which is tracked here: https://github.com/aspnet/Tooling/issues/187

[2015-09-14 22:48] Eilon commented on #77
TestHost and TestAdapter need descriptions for sure.

[2015-09-15 21:20] #130 closed

[2015-09-16 21:48] davidfowl commented on #149
Can close, it's expected

[2015-09-16 21:48] #149 closed

[2015-09-17 03:38] ShaneCourtrille commented on #149
An ugly exception method is expected? Wouldn't it make a lot more sense to handle this a little more gracefully with just the dnu restore message?

[2015-09-17 03:41] davidfowl commented on #149
We're going to change the handling in dnx

[2015-09-18 17:42] kichalla commented on #61
eb727006987e2dac556e1924e7610b26560562b5

[2015-09-18 17:42] #61 closed

[2015-09-18 17:42] kichalla commented on #126
eb727006987e2dac556e1924e7610b26560562b5

[2015-09-18 17:42] #126 closed

[2015-09-18 17:51] kichalla commented on #148
51fe8a564c0b230023358e33a1e188da725321f8
1728b3aa4281aac968310e846ca8fe94034869cc

[2015-09-18 17:51] #148 closed

[2015-09-18 22:51] kichalla commented on #92
de44d22f99b1ad51cfff9ce74162080bed508b93

[2015-09-18 22:51] #92 closed

[2015-09-19 09:28] davidfowl commented on #78
/cc @kichalla Is this done?

[2015-09-19 09:30] davidfowl opened #158 "Rename Microsoft.Dnx.TestAdapter to Microsoft.Dnx.Testing.Abstractions"
So that we match our naming convention everywhere else /cc @rynowak @Eilon @muratg

[2015-09-19 11:37] kichalla commented on #78
Ah yes, this looks like a dup issue...this is done so closing.

[2015-09-19 11:37] #78 closed

[2015-09-19 16:14] muratg commented on #158
@rynowak will you have time this week?

[2015-09-19 20:29] Eilon commented on #158
Putting on @kichalla 's plate. Please sync with @rynowak and/or @davidfowl on this before starting.

[2015-09-19 20:30] davidfowl commented on #158
Heads up @bradwilson

[2015-09-22 15:49] kichalla commented on #158
2dcf411e6533fc62b91db3351ababecbac373a1a

[2015-09-22 15:49] #158 closed

[2015-09-24 21:59] Eilon commented on #77
Proposed descriptions:

* **Microsoft.AspNet.Testing**: TBD
* **Microsoft.Dnx.TestHost**: TBD
* **Microsoft.Dnx.Testing.Abstractions**: TBD
* **Microsoft.Framework.Logging.Testing**: Helpers for writing tests that use Microsoft.Framework.Logging.
* **Microsoft.Framework.WebEncoders.Testing**: Helpers for writing tests that useMicrosoft.Framework.WebEncoders.

[2015-09-25 01:49] #77 closed

[2015-09-30 06:20] Eilon opened #163 "Rename Microsoft.Framework.* to Microsoft.Extensions.*"
Need to rename assemblies and namespaces from `Microsoft.Framework.*` to `Microsoft.Extensions.*`.

Once the change is committed, please post an issue in the https://github.com/aspnet/Announcements/issues/ repo that links back to this issue.

[2015-10-01 22:43] NTaylorMullen opened #164 "Close Solution while tests are running results in hung test process until VS closes."
**Repro:**
1. Run all tests.
1. File => Close solution once half the tests have been run (will need a significant amount of tests so they don't run too quick).

**Result:**
(After several repetitions)
![image](https://cloud.githubusercontent.com/assets/2008729/10235639/dd64da64-6852-11e5-9bd1-f05f551b57ac.png)

**Extra:**
If you close VS, all processes go away.

[2015-10-02 00:41] Eilon commented on #164
@kichalla can you take a look for RC?

[2015-10-02 02:00] kichalla commented on #164
good catch @NTaylorMullen... @Eilon sure I will take a look at it...

[2015-10-04 14:17] pranavkm commented on #163
https://github.com/aspnet/Testing/commit/bb54c40180411999ece0c1036e3445e5078bcc55

[2015-10-04 14:17] #163 closed

[2015-10-07 16:30] danroth27 commented on #142
Today you still have to cross link your tests into runtime specific targets (ex we can't run your phone tests in the phone emulator for you). No plans to deliver a better experience in this release.

[2015-10-07 19:19] JamesNK commented on #142
I think this is a DNX issue. It should be possible to explicitly specify a framework when specifying a dependency and that framework's DLL will be loaded instead of DNX choosing for you.

Specifying a framework would allow you to have a unit test project test the DLL built for net45, not40, Portable 259, etc.

[2015-10-12 17:49] natemcmaster opened #168 "Add ability to skip specific versions of Mono"
Example: Mono has regressions in 4.0.2 that we want to skip, but we otherwise the tests should still run.

[2015-10-20 19:01] kichalla commented on #164
Created an issue in tooling https://github.com/aspnet/Tooling/issues/234

[2015-10-20 19:01] #164 closed

[2015-10-21 18:15] vijayrkn opened #170 "TestHost needs to return the correct starttime and endtime for the Tests"
Log:  Note that the start time and end time information is not correct. Test Host needs to return the correct start time end time. This impacts the CI scenario.

[code]

[2015-10-21 20:02] rynowak commented on #170
It looks like neither the official version nor our fork sets `StartTime` or `EndTime`. What is the `CI scenario`? What does this even mean?

[2015-10-23 17:11] rynowak opened #174 "[ConditionalFact] [ConditionalTheory] are broken"
As of this change: https://github.com/aspnet/Testing/commit/87ca8dff1bc071e90f68cae72d7a751838fc377e#diff-8628424002613acec4575dfa4ce6b336L10

Neither of these attributes are discovered when running tests. They are simply missing. Look at `Microsoft.Dnx.TestHost.Tests` - it reports only 9 tests when there should be far more.

[2015-10-23 17:24] pranavkm commented on #174
We'll revert the change to remove the runner dependency and modify the runner to cross compile to `net451` and `dotnet5.4`.

[2015-10-23 19:37] #174 closed

[2015-10-29 17:33] pakrym opened #180 "Refactor the way we are passing test host services into services runner not to use IServiceLocator"

[2015-10-30 04:56] Eilon commented on #170
@vijayrkn any thoughts on @rynowak 's questions?

[2015-10-30 05:36] rynowak commented on #170
Oh oops.

[2015-10-30 05:36] rynowak commented on #170
e6a467adcf9998a3b5444fb93778a08e961a9db9

[2015-10-30 05:36] #170 closed

[2015-10-30 15:55] vijayrkn commented on #170
Per the unit testing team, the starttime and endtime is needed to publish the correct results to the BuildvNext CI system.

[2015-10-30 20:12] #180 closed

[2015-11-22 14:51] wangkanai opened #188 "TestHost error"
I having trouble trying get xunit to discover my tests and its showing the following error.
[code]
I using the current `dnvm`, but the other machine work fine.
[code]

[2015-11-23 20:59] slaneyrw commented on #188
I'm getting the same error, but running from the command line works.  Been an issue with Beta8 and RC1.  Are we missing something from VS ?

[2015-11-23 22:58] rynowak commented on #188
These errors are always the result of mixing incompatible versions of the TestHost, DNX, and xUnit.

Please check the compatibility matrix here to find the right version of xUnit. https://xunit.github.io/docs/getting-started-dnx.html

I'm updating our readme to point to this page, as it will provide more up to date information than we can.

[2015-11-25 21:39] galvesribeiro opened #189 "Error running MSTest Alpha for CoreCLR/AspNet"
Hello guys,

I'm getting the following error:

At Visual Studio:

[code]

And at the console:

[code]
This is the `project.json` for the Unit Test project:

[code]

Can anyone point me to the right direction on running MSTest for it?

Thanks!

[2015-11-26 13:03] slaneyrw commented on #188
I can run the tests from the commandline without problems.  I can't get VS2015 test explorer to work.

[2015-11-30 06:53] rynowak commented on #188
What's your DNX version (`dnvm list`) and xUnit version (`dnu list`)?

[2015-11-30 22:09] slaneyrw commented on #188
dnvm list

Active Version           Runtime Architecture Location                       Alias
------ -------           ------- ------------ --------                       -----
       1.0.0-beta4       clr     x64          C:\Users\slaneyr\.dnx\runtimes
       1.0.0-beta4       clr     x86          C:\Users\slaneyr\.dnx\runtimes
       1.0.0-beta4       coreclr x64          C:\Users\slaneyr\.dnx\r

[2015-12-02 17:26] rynowak commented on #188
You should be using `xunit.runner.dnx` not `xunit.runner.aspnet`. https://xunit.github.io/docs/getting-started-dnx.html

The latter is our internal fork that we're maintaining on a temporary basis until the runtime API stabilizes.

[2015-12-02 21:25] slaneyrw commented on #188
That set was from the latest ASP.NET Identity repo!  I've swapped it across and still get the same error.

    Exception: System.AggregateException: One or more errors occurred. --->     System.InvalidOperationException: System.NullReferenceException: Object reference not set to an instance of an object.
       at Microsoft.Dnx.TestHost.ProjectTestHostServices..ctor(Project project, ReportingChann

[2015-12-03 01:24] rynowak commented on #188
What are you using from `Microsoft.AspNet.Testing`? That library references our private runner and is pulling it in (notice `xunit.runner.aspnet` is showing up in `dnu list` output.

If you can drop `Microsoft.AspNet.Testing` that should resolve your issue. Notice that it's an `rc2` package, this is why it's going to cause trouble.

[2015-12-06 20:33] slaneyrw commented on #188
This specific solution is a fork from AspNet/Identity, but I haven't altered any of the project.json files.

They are using ConditionalFactAttribute and FrameworkSkipConditionAttribute in some of their test classes.

Their dependency is specified as `"Microsoft.AspNet.Testing": "1.0.0-*"`, what version should I used instead of a wildcard match to make it work ?

[2015-12-07 16:14] rynowak commented on #188
I would try using `"Microsoft.AspNet.Testing": "1.0.0-rc1-final"` (if that exists)

[2015-12-08 21:09] slaneyrw commented on #188
That version can't be found.  So the next question for the folks at Microsoft... are you using VS2015 Test explorer and are the test discovered after build.  Is so, what versions are you using and are they publicly accessible ?

[2015-12-08 21:47] rynowak commented on #188
You can find this on this feed: http://www.myget.org/F/aspnetmaster/api/v2/

Sorry for the confusion, this isn't a package we normally publish.

The problem is mixing different runtime versions. You cannot mix rc1 versions and rc2 versions and expect things to work gracefully with DNX. `Microsoft.AspNet.Testing 1.0.0-rc2-15962` is pulling in an rc2 build of the TestHost, which is the piece that is

[2015-12-17 19:41] anurse opened #191 "Remove OperatingSystems enum in favor of PlatformAbstractions.Platform"
`Microsoft.Extensions.PlatformAbstractions` now has a `Platform` enum that could replace `Microsoft.AspNet.Testing.OperatingSystems`. We should use that (but it involves changing ALL the repos :))

[2015-12-22 23:22] JunTaoLuo opened #193 "Remove or Update TestPlatformHelper"
Seems like after https://github.com/aspnet/PlatformAbstractions/pull/9 we should be using `PlatformServices.Default.Runtime.OperatinSystemPlatform` instead of `TestPlatformHelper`. If we want to keep the helper we should use `OperatingSystemPlatform` for comparison instead.

[2015-12-31 21:53] Eilon commented on #191
Is it worth changing this? Or is it just for convenience?

[2016-01-03 23:01] anurse commented on #191
It's mostly just to remove unnecessary duplication. Unfortunately it's harder than originally thought because Platform just specifies "Windows" whereas our OperatingSystems enum specified some Windows versions as well.

[2016-01-04 16:56] dougbu commented on #191
Suggest instead making `OperatingSystems` a `[Flags]` enum. This would make `OperatingSystems` clearly different from `Platform`: A running system only has one `Platform` while it should be possible to exclude multiple `OperatingSystems`es. Even better this would make `OperatingSystems`more like `RuntimeFrameworks`, allowing `[OSSkipCondition]` to be used in the same ways as `[FrameworkSkipConditi

[2016-01-04 17:21] anurse commented on #191
Yeah, I agree there. I was surprised when I saw it wasn't a flags. Given it's purpose, it makes sense to have it as it's own enum, but we should mark it as flags. Maybe also clean it up a little bit. I noticed that there were some platforms you couldn't express with it (like certain Windows versions)

[2016-01-04 18:29] dougbu commented on #193
I'll take the "update" option. Self-assigning.

[2016-01-04 18:30] dougbu commented on #193
Hmm, can't give this one a milestone since RC2 doesn't exist in this repo.

[2016-01-04 19:12] dougbu commented on #193
84cb34d

[2016-01-04 19:12] #193 closed

[2016-01-11 19:28] Eilon commented on #191
@dougbu can you take a crack at this?

[2016-01-11 22:35] dougbu commented on #191
:ok: sure

[2016-01-19 18:49] richardmatsu opened #197 "Test discovery throws SocketException randomly"
For some time now, test discovery will throw SocketException randomly in different test projects. The end result of this is after every build your unit test count will vary depending on which project's discovery failed.

Using: "xunit.runner.dnx": "2.1.0-rc1-build204"
DNX version: rc1-update1

The following logs are generated in the Test Output window:

Connected to Microsoft.Dnx.TestHost
Discover

[2016-01-22 19:11] Tratcher opened #199 "Rename Microsoft.AspNet.Testing to Microsoft.Extensions.Testing"
There's nothing web / Asp.Net about this package and it's already used by many of the Extensions repos/tests.

[2016-01-23 01:17] Eilon commented on #191
Closing this. Please let me know if you feel strongly otherwise.

[2016-01-23 01:17] #191 closed

[2016-01-23 01:18] Eilon commented on #199
While I agree with the reasoning, these helpers are really just for us to use internally, so I'm not sure the renaming work is worth it...

[2016-01-23 01:18] #199 closed

[2016-01-26 21:24] redknightlois opened #200 "VS 2015 TestExplorer "Unable to read data from the transport connection" when running Xunit tests"
When trying to execute on Team Explorer I get the following error:

[code]

Runs properly when run manually.
Launch settings:
[code]

Dependencies: ```"xunit": "2.1.0"``` and ```"xunit.runner.dnx": "2.1.0-rc1-build204"```

Before anyone think otherwise, this error is not related to https://github.com/aspnet/Testing/issues/146 because I am not linking the ```xunit.runner.visualstudio``` assembly.

[2016-01-27 17:57] victorhurdugaci opened #201 "Convert TestHost to dnx?"
Not sure how's the future going to look like for TestHost which is dnx-based now. @rynowak  ?

[2016-01-27 18:14] rynowak commented on #201
I'd reckon that the future looks a lot like https://github.com/dotnet/cli/tree/master/src/Microsoft.DotNet.Tools.Test

We can just delete this when the migration is complete.

[2016-01-28 22:52] mswolfe opened #202 "Environment variables are not available during unit test execution."
Hi,

I'm writing xunit tests against class libraries targeting dnxcore50.  I've added environment variables to the launchSettings.json file via the Project's properties page, but when I debug the unit test the environment variables are not present.  Is this the expected way to add environment variables that are used during test execution?

Here's what my project.json looks like:
[code]

Here's the

[2016-01-28 22:56] mswolfe commented on #197
I am seeing the same issue.

This only occurs when I have more than one test project and it is exacerbated as the number of unit test projects increase.  I had six unit test projects and discovery almost always threw this exception.  I then combined all of my tests into a single unit test project and this exception is never thrown.

It would be great to get a solution to this!

[2016-02-04 21:26] natemcmaster opened #203 "xunit.runner.console is not discovering ConditionalFacts"
xunit.console.exe does not discover tests marked with `ConditionalFact` or `ConditionalTheory`. KoreBuild is using this to run testing for full .NET

[2016-02-04 21:30] rynowak commented on #203
This is likely because two versions of xUnit are getting loaded into the process because of `Microsoft.AspNet.Testing`'s dependencies.

[2016-02-04 21:42] natemcmaster commented on #203
It looks like it is the same issue as discovered in https://github.com/xunit/xunit/issues/669. When executing with -noappdomain the tests appear to be discovered

[2016-02-04 23:06] natemcmaster commented on #203
NB upgrading to xunit 2.2 beta 1 isn't an option for work around as this apparently has even more issues with test discovery. https://github.com/xunit/xunit/issues/760

[2016-02-08 04:43] StanislavPrusac commented on #197
Same problem with 3 test projects in solution, same error
"xunit.runner.dnx": "2.1.0-rc1-build204"
DNX version: 1.0.0-rc1-final

[2016-02-09 13:27] ChrisWalford commented on #197
Just like to add my +1 to this issue.

Same error, stack trace and versions as the comments above

[2016-02-10 19:11] vijayrkn commented on #200
Can you try setting this environment variable and re-run the test - DNX_TESTHOST_TRACE=1
This should provide more logging info.

[2016-02-12 16:05] NickAb opened #207 "Run all tests in solution"
I am using `xunit.runner.dnx` for `test` command and able to run tests for each project separately form command line. But I would like to be able to run all tests in solution at once.
Does the runner support such functionality?

Also, what will be the best way to run tests on CI (assuming I will only build for dnx451)?

[2016-02-16 16:52] natemcmaster commented on #203
To fix this, other tests projects need to switch from  "dnx451" to "net451".

There are no more changes to fix here. Merged in 254a19acc7ddcc4a8b229b8e4fd9cebd98f8096b

[2016-02-16 16:52] #203 closed

[2016-02-18 15:54] DigTK commented on #197
Same problem here, 3 test projects in solution and this error happens intermittently.

Connected to Microsoft.Dnx.TestHost
Discovering tests in 'C:\Project.Tests\project.json'

System.Net.Sockets.SocketException (0x80004005): Only one usage of each socket address (protocol/network address/port) is normally permitted
   at System.Net.Sockets.Socket.DoBind(EndPoint endPointSnapshot, SocketAddress so

[2016-02-18 21:13] Eilon commented on #207
@NickAb we're making some big changes here as part of the update to dotnet-cli (https://github.com/dotnet/cli/) so there should be improved functionality in the next preview release.

[2016-02-19 14:22] NickAb commented on #207
Great! Looking forward.

[2016-02-29 05:35] Eilon commented on #201
Closing this because ultimately we'll remove the DNX stuff from here anyway.

[2016-02-29 05:35] #201 closed

[2016-03-08 02:09] zhiliangxu commented on #202
Same issue observed with the below library versions.
    "xunit": "2.1.0",
    "xunit.runner.dnx": "2.1.0-rc1-build204",
    "Microsoft.AspNet.TestHost": "1.0.0-rc1-final"

[2016-03-08 02:10] zhiliangxu commented on #202
Same issue observed.

[2016-03-08 05:25] Eilon commented on #202
Seems related: https://github.com/aspnet/Mvc/issues/4230

[2016-03-08 17:30] gzak opened #210 "What is TestServer, really?"
It's pretty lightweight to host an instance of a server with Kestrel for the scope of an integration test suite, so I was curious what TestServer really adds or brings to the table. And what are the technical internal details of TestServer, in the sense of what are the big differences between it and a "real" host like Kestrel?

Yet another question is why not just have the integration tests point

[2016-03-09 20:41] pranavkm opened #211 "ExceptionAssert.ThrowsArgument* should force invariant culture"
Based on https://github.com/aspnet/Mvc/issues/4260, it looks like we're verifying the exception message returned by `ArgumentException` without fixing the culture:

[code]

[2016-03-09 20:52] dougbu commented on #211
@pranavkm we also use `Assert.Throws<T>()` in a lot of our code. Since xUnit doesn't switch to a particular culture (see [`Record`](https://github.com/xunit/assert.xunit/blob/master/Record.cs) class), this looks like the wrong place for a "fix". Suggest instead using `[ReplaceCulture]` or `using (new CultureReplacer())` blocks (occasionally) in the test themselves.

[2016-03-09 20:55] pranavkm commented on #211
The unfortunate part is we construct the exception messages in the `Assert.ThrowsArgument...` method. We could skip that line entirely (split on new lines and such) which would be a saner thing to do. The user really has no expectation that we're generating non-localized strings here.

[2016-03-09 22:03] dougbu commented on #211
How does that change the need to fix the _tests_ rather than this infrastructure piece which works (and should work) much like xUnit's methods?

[2016-03-09 22:38] Eilon commented on #211
This doesn't sound right to me. What if we want the test to run in the local culture? I think the main problem is that we shouldn't be verifying the error messages of code we don't own.

[2016-03-09 22:39] pranavkm commented on #211
Yup. We have a bunch of places where we do a partial match on the exception message. We just need to do something similar here i.e. not verify system messages.

[2016-03-10 19:00] #211 closed

[2016-03-10 23:27] gzak commented on #210
Here's something that would be pretty useful if `TestServer` provided it: code coverage.

[2016-03-13 21:15] Eilon commented on #210
I assume this is in reference to https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.TestHost/TestServer.cs?

TestServer is different from Kestrel in many ways:
1. First of all, it's just for testing :trollface: But seriously, it has *zero* features, is not meant to be high-performance, lifetime management, or anything like that.
2. But more importantly, it doesn't listen on any po

[2016-03-23 05:18] drobertson123 opened #216 "Breakpoints being skipped and code flow erratic testing with xUnit DNX"
I have been trying to debug my source code by triggering xUnit tests. I am placing breakpoints in my source and running the tests under Tests/Debug/All Tests. One or two of the breakpoints may get hit, but many are getting skipped. When I do hit a breakpoint and try to step through the code it seems to step almost randomly through my code, hitting places that are not sequential and often jumping t

[2016-03-24 04:56] drobertson123 commented on #216
Update, after more investigation I believe I determined the overall problem. The ASP.NET and .NET core projects I was debugging seem to default to some form of JITTracking disabled and JITOptimizer enabled, . This is true even when you run the program in Debug mode.
After ripping my hair out for nearly a day I was not able to figure out where to set these values in VS 2015 and at this point I beli

[2016-03-24 16:35] moozzyk commented on #216
@drobertson123 - I don't know what the issue might with the debugging might be (@BillHiebert might know) but for your workaround you can #ifdef the attribute and have it only in debug builds.

[2016-04-13 17:51] victorhurdugaci opened #217 "Move the project tool scenario tester here"
Move it from dotnet-watch so we can use it to test other tools (UserSecrets, IIS publish, etc).

[2016-04-15 07:56] myarichuk commented on #200
Hi,
it seems that I am having similar issue; I've enabled the environmental variable as you suggested and the following is the tracing output:
(Judging by what I saw, a StackOverflowException is the cause of the testing process being terminated)

------ Run test started ------
------ Test started: Project: Voron.Graph.Tests.Dnx ------
Starting  Microsoft.Dnx.TestHost [C:\Users\Admin\.dnx\runtimes\

[2016-04-15 08:04] myarichuk commented on #200
After looking at my code, I replicated this issue. One of my tests was failing due to StackOverflowException. Running just that test would cause the same issue with Dnx Test Host

[2016-04-21 15:08] timbilt commented on #197
Same issue:

   at System.Net.Sockets.Socket.DoBind(EndPoint endPointSnapshot, SocketAddress socketAddress)
   at System.Net.Sockets.Socket.Bind(EndPoint localEP)
   at Microsoft.Dnx.TestHost.ReportingChannel.ListenOn(Int32 port)
   at Microsoft.Dnx.TestHost.Program.<>c__DisplayClass0_0.<<Main>b__0>d.MoveNext()

 Version:      1.0.0-rc1-16609
 Type:         Clr
 Architecture: x86
 OS Name:      Wi

[2016-04-27 21:18] #145 closed

[2016-04-27 21:18] Eilon commented on #168
Mono is not going to be an officially supported platform so we won't add this unless a customer asks for it.

[2016-04-27 21:18] #168 closed

[2016-04-27 21:19] Eilon commented on #188
We are not aware of any remaining issues here in the new ASP.NET Core RC2 tooling (not yet available publicly).

[2016-04-27 21:19] #188 closed

[2016-04-27 21:22] Eilon commented on #189
Try updating the `"MSTest.Runner.Dnx": "1.0.0-alpha7"` reference to use `1.0.0-rc1`.

[2016-04-27 21:22] #189 closed

[2016-04-27 21:23] Eilon commented on #197
This issue has been fixed for the ASP.NET Core RC2 tooling (not yet available publicly).

[2016-04-27 21:23] #197 closed

[2016-04-27 21:26] Eilon commented on #200
Closing this out because we have made several improvements to the test runner experience in the ASP.NET Core RC2 tooling (not yet available publicly).

@vijayrkn do you think this scenario is now handled better in the VS test runner?

[2016-04-27 21:26] #200 closed

[2016-04-27 21:30] #210 closed

[2016-04-27 21:37] Eilon commented on #216
As far as we know this is fixed when using .NET CLI and the ASP.NET Core RC2 tooling. With .NET CLI all the DLLs and PDBs are written to disk (with DNX they were often in memory). As such we expect fewer issues, if any, related to finding these objects.

[2016-04-27 21:37] #216 closed

[2016-04-27 21:49] vijayrkn commented on #200
Yes, we have better exception handling and logging in the new tooling. For the above scenario (test throwing a StackOverflowException) you will get an output similar to this.

[code]

[2016-04-28 00:05] Eilon commented on #200
Thanks @vijayrkn . Can we update the error message to say that the `Process WAS terminated...`?

[2016-04-28 00:24] vijayrkn commented on #200
Sure. Will update the error message.

[2016-04-28 01:17] Eilon commented on #217
What exactly is this? Where is it located now?

[2016-04-28 01:20] victorhurdugaci commented on #217
The scenario tester is a set of helpers for testing commands in project.json. It's currently located in dotnet-watch:  https://github.com/aspnet/dotnet-watch/blob/dev/test/Microsoft.DotNet.Watcher.Tools.FunctionalTests/Scenario/ProjectToolScenario.cs

[2016-04-28 16:48] Eilon commented on #202
I moved the bug here: https://github.com/aspnet/Tooling/issues/456

So closing this one.

[2016-04-28 16:48] #202 closed

[2016-04-28 20:20] Eilon commented on #207
The DNX-based runner has been replaced with the new [.NET CLI](https://github.com/dotnet/cli) runner. Can you try that out and see if it has the features you need? If anything is missing, please log an issue at https://github.com/dotnet/cli/issues/.

I know that for building ASP.NET/EF we have a script that looks for all the `project.json` files in the `test/` folder and compiles/runs the tests in

[2016-04-28 20:20] #207 closed

[2016-04-28 20:20] Eilon commented on #217
Ah, ok. Enjoy 😄

[2016-04-28 20:28] Eilon commented on #200
Thanks!

[2016-04-29 02:03] NickAb commented on #207
Thanks, I will checkout .NET CLIE once we start migrating to rc2.
Meanwhile I made a PowerShell script similar to what is in .shade file.

[2016-04-29 10:04] OnamChilwan opened #220 "Improving the unit testing framework"
I was wondering whether in `MVC 6` (or even later) you could unit test a controller but not via the classic approach of instantiating the controller but instead exercise it via a mock browser? What I mean is, like how `Nancy` does this which allows me to also exercise the routes.

For example, I have a fairly basic controller in play which has a single operation and the model I am using is also sh

[2016-04-29 16:49] Eilon commented on #207
Great!

[2016-05-04 17:05] rynowak commented on #220
As part of building MVC, we write tests at the HTTP layer - you can find some examples here: https://github.com/aspnet/Mvc/blob/dev/test/Microsoft.AspNetCore.Mvc.FunctionalTests/AntiforgeryTests.cs#L24 (anything in the functional tests project). This seems to be at a similar level of abstraction to the examples that I found looking at https://github.com/NancyFx/Nancy/wiki/Testing-your-application.

[2016-05-08 15:30] wangkanai commented on #188
@Eilon is the ASP.NET Core RC2 tooling available publicly yet?

[2016-05-09 06:08] Eilon commented on #188
@wangkanai not yet - but we are working on a release for the middle of this month (May).

[2016-05-09 17:27] #220 closed

[2016-05-25 11:19] OnamChilwan commented on #220
Apologies for the response delay just got time to look into it. Looking at those tests they don't seem to at unit level but exercising the whole stack, as in going via HTTP.

https://github.com/aspnet/Mvc/blob/fbd7110da0223f6b60ab264e2bba0847d383de12/test/WebSites/BasicWebSite/Startup.cs

The test you pointed me towards utilizes the above class (correct me if I am wrong). I was thinking of the fra

[2016-06-09 22:40] javiercn opened #224 "Remove unnecessary imports"
Issue to track removing unnecessary imports from this repository. Currently waiting on Xunit support for net standard. See https://github.com/xunit/xunit/issues/872

[2016-07-05 19:04] #217 closed

[2016-07-08 05:19] Eilon commented on #224
@javiercn @ajaybhargavb @pranavkm we can close this right?

[2016-07-14 02:10] PivotalAnimal opened #229 "Please Update Wiki"
I am trying to copy test code from Microsoft.AspNetCore.Identity.Test but the Wiki is out of date and not too useful. Thanks!

[2016-07-18 20:25] Eilon commented on #229
Indeed, the info is quite ancient! We'll get it updated.

[2016-07-21 21:02] Eilon commented on #224
Ping?

[2016-07-21 21:14] pranavkm commented on #224
Yup. The project no longer has any imports.

[2016-07-21 21:14] #224 closed

[2016-07-21 21:54] Eilon commented on #224
Thanks!

[2016-07-25 19:55] RonCass opened #231 "Test project doesn't reference main development project"
I have tried numerous times now to add a test project to a few AspNetCore Projects I have and they all have the same issue, that you can not reference the main project from the test project.

You can right click references on the test project, and check the boxes next to the other projects in your solution which works fine. But after that, when you create a test class with a test method and you tr

[2016-07-26 17:39] Eilon commented on #231
@RonCass it seems like the issue you have is that a CSPROJ file in VS cannot directly reference an XPROJ (project.json) project. This is a feature that will be added in an update to the .NET Core tooling for Visual Studio.

What you can do instead in the meantime is this:

1. Create your ASP.NET Core web application (running on .NET Core or .NET Framework, doesn't matter which)
2. Create a .NET Co

[2016-07-26 17:44] RonCass commented on #231
@Eilon Thanks Eilon, at least now I know why it's happening and have a workaround so I can still create unit tests. :)

[2016-08-18 09:04] gulbanana commented on #86
this problem is still happening for me in 1.0/rtm when there is an async test in a base class.

[2016-08-18 14:49] rynowak commented on #86
@gulbanana - please open a new issue on https://github.com/dotnet/cli - they own this functionality now.

[2016-08-20 07:05] gulbanana commented on #86
ok

[2016-08-24 23:54] nanivijay opened #233 "after migration to core 1.0 from rc1 we are not getting code coverage result for mvc6 project"
We used to get the code coverage for the mvc 6 web api in vs2015 targeting to  asp.net 5 rc1(dnx451).
After upgrading to core 1.0 we targeted to net 461. I am able to execute all the tests but code coverage is not showing for the mvc6 project. We are able to get for the class library projects but not the exe/dll generated by .net core web project.(MVC6). Please help...

[2016-09-11 23:28] Eilon commented on #233
This issue was moved to aspnet/Tooling#773

[2016-09-11 23:28] #233 closed

[2016-09-11 23:49] Eilon commented on #229
Finally got around to this. I changed the wiki page to just point to https://docs.asp.net/en/latest/testing/index.html.

[2016-09-11 23:49] #229 closed

[2016-10-14 20:15] nojaf opened #237 "Integration tests in separate project"
I tried to set up some end-to-end tests following https://docs.asp.net/en/latest/testing/integration-testing.html.

The docs don't seem to assume that the test assembly is a separate project in the test folder.
I did a basic test if my default route returns a 200.

[code]

When running this test it failed because my views and appSettings.json were not in the bin folder of the   test project.

What

[2016-10-28 21:02] nojaf commented on #237
Tried to add it in my project.json but no luck

[code]

Project structure:
[code]

[2016-10-29 18:16] nojaf commented on #237
Found a workaround by changing the content root

[code]

[2016-10-29 18:16] #237 closed

[2016-12-23 18:57] cesarbs opened #240 "Skip not working in ConditionalFact and ConditionalTheory"
[code]

Output:

[code]

[2016-12-28 18:40] Eilon commented on #142
Closing because this issue is ancient, and no longer applies. Everything is CSPROJ!

[2016-12-28 18:40] #142 closed

[2016-12-28 18:40] Eilon commented on #79
Ancient bug and doesn't look like we need/care anymore.

[2016-12-28 18:40] #79 closed

[2016-12-28 18:41] Eilon commented on #231
Closing because this will no longer be a problem in the unified CSPROJ/MSBuild world.

[2016-12-28 18:41] #231 closed

[2017-01-09 18:49] #240 closed

[2017-02-02 19:12] anurse opened #243 "Create "xunit" logger provider"
In xunit, it is recommended that "console" output be written to `ITestOutputHelper` rather than the Console. We should provide a Logger to plug in to `ILoggerFactory` which writes to this. See https://github.com/aspnet/MusicStore/blob/dev/test/E2ETests/Common/XunitLogger.cs for an example.

/cc @natemcmaster

[2017-02-08 18:05] natemcmaster opened #244 "Regression: ConditionalTheory not always recognized"
MusicStore nano tests stopped running after this change.

Compare these test runs from Dec 22, when #239 was merged.

6 tests found and run: http://aspnetci/viewLog.html?buildId=160118&buildTypeId=XPlat_Windows_WinNanoServer_MusicStore
No tests: http://aspnetci/viewLog.html?buildId=160126&buildTypeId=XPlat_Windows_WinNanoServer_MusicStore

cc @NTaylorMullen

[2017-02-08 18:17] cesarbs opened #245 "Some ConditionalTheory tests are run N^2 times"
For example, in Kestrel:

[code]

Must be an issue with our `ConditionalTheory`, since it doesn't repro when I change it to `Theory`.

cc @pranavkm @NTaylorMullen @rynowak

[2017-02-08 18:20] cesarbs commented on #245
Small repro:

[code]

Output:

[code]

[2017-02-08 18:33] NTaylorMullen commented on #245
Obviously just trying to make sure things really pass :trollface:

[2017-02-08 18:34] NTaylorMullen commented on #244
Hmm, I made changes to fix this a while back. It was tied to how our custom test cases would serialize/deserialize. I'm curious if vstest requirements broke this (used to work).

[2017-02-08 18:40] cesarbs commented on #245
I think I know what the problem is. In https://github.com/aspnet/Testing/blob/3714e540035b1df2ac5a5580093d0ea6ff9ed230/src/Microsoft.AspNetCore.Testing/xunit/SkipReasonTestCase.cs#L113 we always use `XunitTheoryTestCaseRunner`. But that class should only be used for theories of type `XunitTheoryTestCase` [that could not be enumerated prior to test execution](https://github.com/xunit/xunit/blob/c0e

[2017-02-08 19:13] natemcmaster commented on #244
This is dotnet-test-xunit, not VSTest. And its broken in both.

[2017-02-09 19:33] #245 closed

[2017-02-13 03:11] dougbu opened #248 ".NET 4.5.1 test runs fail with "EXEC : warning : No test is available""
Since xUnit published RC1 bits, many .NET 4.5.1 test runs have started to fail with the above error. Such runs do not execute any tests. This reduces our test coverage across the repos. For example, MVC has dropped from running 6968 tests to just 3638,

Moving our xUnit dependencies back to 2.2.0-beta5-build3474 seems to work in the Performance repo. But, that's not the right fix. Should instead a

[2017-02-13 03:12] dougbu commented on #248
Self-assigning

[2017-02-13 07:15] dougbu commented on #248
Not 💯% sure but it appears xUnit has dropped .NET 4.5.1 support. Filed xunit/xunit#1102 in hopes this was unintended.

[2017-02-13 13:14] onovotny commented on #248
.NET 4.5.1 is obsolete and unsupported by Microsoft. .NET 4.5.2 is the minimum version with support. Your unit tests need to be for .NET 4.5.2 but they can still reference .NET 4.5 libraries (as per normal referencing rules).

[2017-02-13 17:41] dougbu commented on #248
Time to update all test projects to executing using .NET 4.5.2 instead of 4.5.1. Because it's not clear whether anything else will need to change, follow the checklist below:
- [ ] BuildTools
- [ ] Microsoft.Data.Sqlite
- [ ] PlatformAbstractions
- [ ] Common
- [ ] Testing
- [ ] JsonPatch
- [ ] FileSystem
- [ ] DependencyInjection
- [ ] Configuration
- [ ] EventNotification
- [ ] Options
- [ ] Log

[2017-02-13 18:04] natemcmaster commented on #248
I've been meaning to make the following change anyways...as long as you are updating all test projects, can we make this change too?

Any project that targets:
[code]
should change to
[code]

This will mean only .NET Core compiles and tests on Linux.  cref https://github.com/aspnet/KoreBuild/pull/160

[2017-02-13 22:08] natemcmaster opened #250 "ConditionalFact test case fails due to change in xunit API"
Xunit changed the signature of TypeUtility.ResolveMethodArguments: https://github.com/xunit/xunit/pull/1097

Test discover is now failing with

We need to recompile against xunit 2.2.0 RC2

[2017-02-13 22:18] natemcmaster commented on #250
Blocked, waiting on aspnet/EntityFramework#7606

[2017-02-16 06:49] #250 closed

[2017-02-18 00:13] cesarbs commented on #244
Not fully fixed yet, need to get #252 in too.

[2017-02-18 00:19] cesarbs opened #254 "Allow ConditionalTheory to have an empty data collection"
Some Kestrel theories generate test data based on available network interfaces:

https://github.com/aspnet/KestrelHttpServer/blob/bfe1f06938eeb68f62898963c69a6e7d4a87a20a/test/Microsoft.AspNetCore.Server.Kestrel.FunctionalTests/AddressRegistrationTests.cs

Sometimes those end up with empty collections because there are no interfaces matching the required characteristics for the tests.

A way to wo

[2017-02-18 00:30] Tratcher commented on #254
SkipIfNoData?

[2017-02-21 15:17] #248 closed

[2017-02-22 20:07] #244 closed

[2017-02-28 19:14] Eilon commented on #254
Adding a `SkipIfNoData` param sounds good to me.

[2017-02-28 19:16] Eilon commented on #243
We can certainly do this, but what would actually wire it up in our tests? And... what problem in our tests does it solve?

[2017-02-28 19:34] anurse commented on #243
1. The new test host in `dotnet test` suppresses Console output. So if we want to write something out, we need to use this.

2. The `ITestOutputHelper` collects output for a single test and ensures it is rendered as a discrete unit, which is important when doing parallel testing

3. Tests would have to wire it up themselves. This is for tests that currently create a Logger Factory and attach the C

[2017-03-01 02:36] Eilon commented on #243
Ah, got it, this makes sense. Are there any tests where we know we'd want to use this ASAP? I want to make sure that whoever I assign this to will have an actual use case for it 😄

[2017-03-01 17:30] anurse commented on #243
Well there are places we already have it, https://github.com/aspnet/SignalR/blob/dev/test/Microsoft.AspNetCore.SignalR.Tests/XUnitLoggerProvider.cs , https://github.com/aspnet/MusicStore/blob/dev/test/E2ETests/Common/XunitLogger.cs , etc.

So this more about making it a common component, to avoid copy 🍝

[2017-03-14 23:34] GuardRex opened #258 "Older package from template than NuGet shows"
@natemcmaster I'm almost certainly opening this in the wrong spot, so please do direct me to the correct repo.

`dotnet new mstest` produces a `.csproj` with package versions for `MSTest.TestAdapter` and `MSTest.TestFramework` at `1.1.11` (with the dotnet tooling that installed with VS 2017 RTM; v1.0.0); however, [Nuget is currently showing `1.1.13`](https://www.nuget.org/packages/MSTest.TestAdapt

[2017-03-14 23:35] natemcmaster commented on #258
@GuardRex can you open this on https://github.com/dotnet/templating instead?

[2017-03-14 23:36] #258 closed

[2017-03-16 22:12] anurse commented on #243
Closing in lieu of aspnet/Logging#574

[2017-03-16 22:12] #243 closed

[2017-03-25 02:33] JunTaoLuo opened #263 "Tests marked with `ConditionalFactAttribute` not discovered running on full framework"
For example, try to run the test at https://github.com/aspnet/Hosting/blob/2df3639535c085f60e186d39b39bfa5bb25ea9b4/test/Microsoft.AspNetCore.TestHost.Tests/TestServerTests.cs#L76-L91.

Output:
[code]

I can also reproduce this on a simple xunit test project. Seems like something wrong with the test discovery on full framework. This could mean some of our tests are not being run currently.

cc @pr

[2017-03-25 02:45] JunTaoLuo commented on #263
@pranavkm has a fix for this.

[2017-03-25 02:51] pranavkm commented on #263
Great catch. I started with an older branch and missed updating ifdefs. Adding a couple of tests to ensure that we don't accidentally stop running conditional facts or theories.

[2017-03-25 22:45] #263 closed

[2017-03-28 17:46] cesarbs commented on #254
This is messier than I thought it would be. The problem is xunit really doesn't like empty data:

https://github.com/xunit/xunit/blob/1b69df1378cb9d6b589d55ce23ab544458169485/src/xunit.execution/Sdk/Frameworks/TheoryDiscoverer.cs#L242

We'd either have to write our own discoverer that's basically a copy of xunit's without that check, or do something ugly like:

[code]

Given we worked around our i

[2017-03-28 17:47] natemcmaster commented on #254
+1 close. Sounds messy and error-prone.

[2017-03-28 18:43] Eilon commented on #254
Fine with me, `wontfix`.

[2017-03-28 18:43] #254 closed

[2017-04-11 23:09] moozzyk opened #267 "Inverse OSSkipCondition"
I would like to run some tests only on Win7 and Win2008R2. OSSkipCondition is only skipping specific OS/versions and doing the opposite will be hard because it would require specifying all OSes and all non-Win7/2008R2 Windows versions and it is hard to get a full list of versions.

[2017-04-12 02:16] Eilon commented on #267
Seems like it would be easy enough to write such an attribute. Want to take a stab at it?

[2017-04-12 03:04] moozzyk commented on #267
sure

[2017-04-14 19:53] msollicito commented on #216
I am experiencing this problem with .net core 1.1 - if I try to run tests using Xunit sometimes the debugger stops at breakpoints and sometimes does not - I will try your solution

[2017-04-24 22:52] pranavkm opened #268 "Flaky test: ConditionalFactTest.ConditionalFactSkip on Win7"
[code]

[2017-04-24 22:53] pranavkm commented on #268
A bit concerning since this is infrastructural code that should never fail.

[2017-04-25 18:11] anurse opened #270 "TimeoutAfter won't time out if the task performs a synchronous wait"
If any code in the Task being waited for does a synchronous wait, TimeoutAfter will never fire the timeout, because it is unable to schedule the timeout back over to the Xunit Sync Context.

I have a fix, just tracking this here.

[2017-04-25 18:13] anurse commented on #270
/cc @mikeharder

[2017-05-01 02:51] damienpontifex opened #271 "Run tests on published test project"
I'm trying to publish tests and then run them in the Release stage using VSTS Release Management. I would like to copy over the test project publish output to run in the release pipeline.

My project is:
[code]

Steps with the dotnet cli are:
[code]
The result of this just returns with no output

Steps with VSTest.console.exe:
[code]
The result of this is the warning: "Warning: No test is availabl

[2017-05-01 02:52] davidfowl commented on #271
This isn't an ASP.NET specific problem. I'd start with github.com/Microsoft/vstest.

[2017-05-01 04:49] damienpontifex commented on #271
Thanks, I'll repost over there.

[2017-05-01 04:49] #271 closed

[2017-05-11 21:24] Eilon commented on #268
@javiercn - can you take a look? I want to make sure there isn't something more seriously wrong with our helper attributes.

[2017-05-11 21:25] Eilon commented on #270
Go for it.

[2017-05-11 21:46] anurse commented on #270
I was wrong about this. It doesn't seem to be something we can reliably solve without jumping off the sync context **in** the test (rather than in a helper)

[2017-05-11 21:46] #270 closed

[2017-05-18 10:26] kasparkallas opened #276 "[Feature request] Make it able to pass custom ClaimsPrincipal when using TestServer"
_[Use case]_ In my application, I want to test the combination of authorization policies against concrete endpoints with specific users and domain state.

To my knowledge, when using authorization attributes, the "best" way to currently test is to check for existence of attributes through reflection and unit-test the components separately. With `HttpContext` and all sorts of other contexts, base c

[2017-05-18 10:38] davidfowl commented on #276
This should be moved to aspnet/Hosting.

@rynowak You were discussing being able to get a `RequestDelegate` instead of an `HttpClient` from the `TestServer`. Did you file an issue for that anywhere?

[2017-05-18 18:08] rynowak commented on #276
https://github.com/aspnet/Mvc/issues/6233

[2017-06-05 19:47] ferrx commented on #276
Can you explain further or link to a guide? Do you just mean checking to see if the `[Authorization]` data attribute is attached to a method via reflection and perform some forked set of actions for authorized and not-authorized behavior?

I assume this would not take granular claims assessment into account, i.e. if your controller was checking to see if the current user `HasClaims`..

[2017-06-06 17:18] natemcmaster opened #277 "Create infrastructure for testing with docker"
Requirements:

 - I should be able to write a functional test that runs .NET Core inside a Docker container
 - I should not have to manually manage the image tag or versions to ensure .NET Core runtime inside the container aligns with current KoreBuild versions
 - I should be able to assert the output of code executed from within a container, either via logs or exit code
 - I should be able to doc

[2017-06-06 17:27] natemcmaster commented on #277
cc @muratg @pakrym - this will be useful as we begin adding more docker-specific runtime features. We don't have a good way to test these at the moment.

[2017-06-07 10:31] kasparkallas commented on #276
@ferrx Yes, I did mean checking for the presence of the attribute via reflection. Which is clearly not a good way to test it because of all the possible combinations of attributes, filters and explicit authorization logic in controller (like you said). Sorry, I don't have an article to share.

I have been informed that the `ClaimsPrincipal` can be passed when using the open-source ASP.NET Core int

[2017-06-14 22:08] Eilon commented on #267
Moving to 2.1.0.

[2017-06-23 18:24] cesarbs opened #279 "Move HttpClientSlim to Microsoft.AspNetCore.Testing"
HttpClientSlim is a test class that's duplicated in Kestrel and MetaPackages. We should move it here.

[2017-06-24 01:14] cesarbs opened #282 "Rewrite HttpClientSlimTests in a way that doesn't depend on Hosting"
Removed in 28fee6aa11ffe1238608177b7d104f99e563d30b because it broke the CI:

http://aspnetci/viewLog.html?buildId=249845&buildTypeId=UniverseCoherence&tab=buildLog#_focus=975

[2017-06-24 03:30] #279 closed

[2017-07-05 15:07] rynowak commented on #276
@javiercn - is it possible to use `Microsoft.AspNetCore.Mvc.Testing` to get a `RequestDelegate`?

[2017-07-05 15:34] davidfowl commented on #276
The test server takes an `IWebHostBuilder` which creates an `IApplicationBuilder` and uses pretty much the entire hosting pipeline. There's no way to get the request delegate directly.

[2017-07-05 16:04] javiercn commented on #276
I believe is trivial to expose the request delegate from TestServer.

That said, If i were to set the principal in the HttpContext at the beginning of the request, I would just do it with a startup filter in the same fashion that we do to setup the request culture.

Create a startup filter, plug it in DI and make it setup a middleware that sets the principal to whatever you are expecting.

If we w

[2017-07-05 16:05] javiercn commented on #276
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Testing/Internal/CultureReplacerStartupFilter.cs

[2017-07-05 16:35] davidfowl commented on #276
I'm not sure it is, but we should discuss offline.

[2017-07-24 23:38] srivathsah opened #288 "Tests using TestServer are not working when I UseMVC() in the test startup"
I am using the latest version of .netcore2.0 preview. The requests are working fine from postman. However when I try to automate the tests using the in-memory TestServer, I get the following exception

[code]

[2017-07-25 00:46] srivathsah commented on #288
Please ignore this issue , closing it. Basically I was only referencing the .netcore web api project in my test project, not the actual .net core 2.0 nugget packages, therefore the Microsoft.AspNetCore.TestHost when referenced in the test project was including the minimum version required not the latest versions that were in the web api project. After included the Microsoft.AspNetCore.All's latest

[2017-07-25 00:46] #288 closed

[2017-08-16 16:50] Eilon commented on #282
@javiercn can you take a look?

[2017-08-16 18:03] javiercn commented on #282
@cesarbs can you describe what the issue here is and what the expectations/goals are?

[2017-08-16 18:03] javiercn commented on #282
How it broke the CI and what does in your opinion need to change

[2017-08-21 23:41] cesarbs commented on #282
I thought CI links would live forever 😢

Those tests broke the CI when moved here because they created a cycle in the dependency graph (Testing -> Hosting -> Testing IIRC).

I created this issue so this wouldn't get lost, but I'm not sure it's worth putting much effort into this. HttpClientSlim is transitively tested wherever it's used. BTW that's only Kestrel now, but it was used in MetaPackages

[2017-08-22 03:52] javiercn commented on #282
So can this be closed then?

[2017-08-23 21:47] cesarbs commented on #282
It hadn't occurred to me before to use HttpListener as the server for those tests. You can look into that, but you can assign the bug to me as well since I was the one who moved HttpClientSlim here and subsequently removed its tests.

[2017-08-23 23:01] javiercn commented on #282
@cesarbs Ok. I will do so.

[2017-08-28 22:47] #282 closed

[2017-11-05 15:54] seccijr commented on #288
System.AggregateException : One or more errors occurred. (Method not found: 'Microsoft.Net.Http.Headers.MediaTypeHeaderValue Microsoft.Net.Http.Headers.MediaTypeHeaderValue.Parse(System.String)'

[2017-11-12 20:12] hanslai commented on #47
Still having the same problem with Visual Studio 2017 Version 15.4.3.

Close and restart Visual Studio and test run fine again.

[2017-12-30 01:28] javiercn commented on #268
I've checked this. I haven't seen this fail on the CI lately and I've inspected the code for issues and haven't found anything that raises my concerns. I'm closing this bug, feel free to reopen if this starts happening again. @pranavkm

[2017-12-30 01:28] #268 closed

[2018-01-01 19:05] aspnet-hello commented on #277
This issue was moved to aspnet/Home#2356

[2018-01-01 19:05] #277 closed

[2018-01-01 19:05] aspnet-hello commented on #276
This issue was moved to aspnet/Home#2357

[2018-01-01 19:05] #276 closed

[2018-01-01 19:09] aspnet-hello commented on #267
This issue was moved to aspnet/Home#2358

[2018-01-01 19:09] #267 closed

[2018-01-02 22:32] Eilon opened #296 "THIS ISSUE TRACKER IS CLOSED - use the Home repo issue tracker"
Hello, this issue tracker is no longer used. Please log new issues here: https://github.com/aspnet/Home/issues

For information about this change, see https://github.com/aspnet/Announcements/issues/283

[2018-01-16 15:25] aadhoc commented on #47
[ Probable answer included below !! ]

Also having problem with Visual Studio 2017 Version 15.4.5.
After Clean/Build, Output window contains:

[code]

Just noticed that I have these nuget dependencies:
ApplicationCoreTest:
xunit (2.3.0)
xunit.runner.visualstudio (2.2.0)

WebApiTest:
xunit (2.2.0)
xunit.runner.visualstudio (2.2.0)

.... and the project with the xunit (2.2.0) works, while the xunit

[2018-11-03 15:03] StingyJack commented on #47
For the silent skipping of tests, see https://github.com/Microsoft/testfx/issues/241 and https://github.com/Microsoft/testfx/issues/499

The "Test adapter sent back a result for an unknown test case" (that it executed!), I'll probably log an issue for that later as it shows for every test when I "Run All".

[2018-11-09 09:00] #296 closed